<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Facts for [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<meta http-equiv="Content-Language" content="en">
		<meta name="robots" content="INDEX,FOLLOW">
		<meta name="language" content="ENGLISH">
		<meta name="object" content="Index">
		<meta name="owner" content="Nigel Horne">
		<meta name="Author" content="Nigel Horne">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne, all rights reserved">
		<meta name="description" content="Facts for [% SiteTitle.join(' ') %] - A ged2site webpage">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		[% USE Math %]
	</head>
	<body>
		<center>
			<h1>Facts for [% SiteTitle.join(' ') %]</h1>
			[ <a href="?page=people&home=1">Home</a> ] |
			[ <a href="?page=surnames">Surname Index</a> ] |
			[ <a href="?page=history">Family History</a> ] |
			[ <a href="?page=calendar">Calendar</a> ]
		</center>
		[% IF facts %]
			<p>
				There are [% facts.count %] people in the tree,
				of which [% facts.sex.M %] are male and [% facts.sex.F %] are female.
				IF [% facts.sex.U %]
					There are also [% facts.sex.U %] people for which the sex is unknown.
				[% END %]
			</p>
                        [% IF facts.fathers_side %]
                                <p>
                                        There are [% facts.fathers_side.count %] adults aged 20 or over on the father's side,
					of which the average (mean) age at death was [% Math.int(facts.fathers_side.age / facts.fathers_side.count) %].
                                </p>
                        [% END %]               
                        [% IF facts.mothers_side %]
                                <p>     
                                        There are [% facts.mothers_side.count %] adults aged 20 or over on the mother's side,
					of which the average (mean) age at death was [% Math.int(facts.mothers_side.age / facts.mothers_side.count) %].
                                </p>                    
                        [% END %]
			[% IF facts.first_birth %]
				<p>
					First person in the tree:
					<a href="?page=people&amp;entry=[%- facts.first_birth.person.entry %]">[% facts.first_birthperson.title %]</a> [% facts.first_birth.date %]
				</p>
			[% END %]
			[% IF facts.oldest_age %]
				<p>
					Person who lived the longest:
					<a href="?page=people&amp;entry=[%- facts.oldest_age.person.entry %]">[% facts.oldest_age.person.title %]</a> who lived for [% facts.oldest_age.years %] years
				</p>
			[% END %]
		[% END %]
		<p>
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
