<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Facts for [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<meta http-equiv="Content-Language" content="en">
		<meta name="robots" content="INDEX,FOLLOW">
		<meta name="language" content="ENGLISH">
		<meta name="object" content="Index">
		<meta name="owner" content="Nigel Horne">
		<meta name="Author" content="Nigel Horne">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne, all rights reserved">
		<meta name="description" content="Facts for [% SiteTitle.join(' ') %] - A ged2site webpage">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		[% USE Math %]
	</head>
	<body>
		<center>
			<h1>Facts for [% SiteTitle.join(' ') %]</h1>
			[ <a href="?page=people&amp;home=1">Home</a> ] |
			[ <a href="?page=surnames">Surname Index</a> ] |
			[ <a href="?page=history">Family History</a> ] |
			[ <a href="?page=calendar">Calendar</a> ]
		</center>
		[% IF facts %]
			<p>
				There are [% facts.number_of_individuals %] people in the tree,
				of which [% facts.sex.M %] are male and [% facts.sex.F %] are female.
				IF [% facts.sex.U %]
					There are also [% facts.sex.U %] people for which the sex is unknown.
				[% END %]
			</p>
			[% IF facts.number_of_families %]
				<p>
					There are [% facts.number_of_families %] families in the tree.
				</p>
			[% END %]
                        [% IF facts.fathers_side %]
                                <p>
                                        There are [% facts.fathers_side.count %] adults known to have lived to 20 or over on the father's side,
					of which the average (mean) age at death was [% Math.int(facts.fathers_side.age / facts.fathers_side.count) %].
                                </p>
                        [% END %]
                        [% IF facts.mothers_side %]
                                <p>
                                        There are [% facts.mothers_side.count %] adults known to have lived to 20 or over on the mother's side,
					of which the average (mean) age at death was [% Math.int(facts.mothers_side.age / facts.mothers_side.count) %].
                                </p>
                        [% END %]
			[% IF facts.first_birth %]
				<p>
					First person in the tree:
					<a href="?page=people&amp;entry=[%- facts.first_birth.person.entry %]">[% facts.first_birthperson.title %]</a> [% facts.first_birth.date %]
				</p>
			[% END %]
			[% IF facts.oldest_age %]
				<p>
					Person who lived the longest:
					<a href="?page=people&amp;entry=[%- facts.oldest_age.person.entry %]">[% facts.oldest_age.person.title %]</a> who lived for
					[% facts.oldest_age.years %] years,
					[% facts.oldest_age.months %] months and
					[% facts.oldest_age.days %] days
				</p>
			[% END %]
			[% IF facts.most_children %]
				<p>
					Person with the most children:
					<a href="?page=people&amp;entry=[%- facts.most_children.person.entry %]">[% facts.most_children.person.title %]</a> had [% facts.most_children.count %] children
				</p>
			[% END %]
			[% IF facts.both_sides %]
				<p>
					There
					[% IF facts.both_sides.count == 1 %]
						is 1 person who appears
					[% ELSE %]
						are [% facts.both_sides.count %] people who appear
					[% END %]
					on both the father's and mother's side of the tree
				</p>
			[% END %]
			[% IF facts.family_size %]
				<p>
					The mean family size is [% facts.family_size.mean %] children
				</p>
			[% END %]
			[% IF facts.youngest_marriage %]
				<p>
					The person who married at the youngest age was
					<a href="?page=people&amp;entry=[%- facts.youngest_marriage.person.entry %]">[% facts.youngest_marriage.person.title %]</a>,
					aged
					[% facts.youngest_marriage.years %] years,
					[% facts.youngest_marriage.months %] months and
					[% facts.youngest_marriage.days %] days
				</p>
			[% END %]
			[% IF facts.oldest_marriage %]
				<p>
					The person who married at the oldest age was
					<a href="?page=people&amp;entry=[%- facts.oldest_marriage.person.entry %]">[% facts.oldest_marriage.person.title %]</a>,
					aged
					[% facts.oldest_marriage.years %] years,
					[% facts.oldest_marriage.months %] months and
					[% facts.oldest_marriage.days %] days
				</p>
			[% END %]
			[% IF facts.longest_marriage %]
				<p>
					The longest marriage,
					<a href="?page=people&amp;entry=[%- facts.longest_marriage.person.entry %]">[% facts.longest_marriage.person.title %]</a>
					to
					<a href="?page=people&amp;entry=[%- facts.longest_marriage.spouse.entry %]">[% facts.longest_marriage.spouse.title %]</a>,
					lasted
					[% facts.longest_marriage.years %] years,
					[% facts.longest_marriage.months %] months and
					[% facts.longest_marriage.days %] days
				</p>
			[% END %]
		[% END %]
		<p>
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
