<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta http-equiv="Content-Language" content="en">
		<meta name="robots" content="INDEX,FOLLOW">
		<meta name="language" content="ENGLISH">
		<meta name="object" content="Index">
		<meta name="owner" content="Nigel Horne">
		<meta name="Author" content="Nigel Horne">
		<meta name="Copyright" content="Copyright (C) 2017 Nigel Horne, all rights reserved">
		[% IF person %]
			<title>[% person.title %]</title>
			<meta name="description" content="About [% person.title %] - A ged2site webpage">
		[% ELSE %]
			<title>[% SiteTitle.join(' ') %]</title>
			<meta http-equiv="Refresh" content="1;URL=page.fcgi?page=people&amp;home=1">
			<meta name="description" content="[% SiteTitle.join(' ') %] - A ged2site webpage">
		[% END %]
		<!--
			<meta name="msvalidate.01" content="deadbeef" />
		-->
	</head>
	<body>
		[% IF person %]
			<h1>[% person.title %]</h1>
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			<p>[% person.bio %]</p>
			[% IF person.media %]
				[% FOREACH object IN person.media.split('----') %]
					[% IF object.split('---').1 %]
						<h2>[% object.split('---').1 %]</h2>
					[% END %]
				[% END %]
			[% END %]
			[% IF person.notes %]
				[% FOREACH note IN person.notes.split('----') %]
					<p>[% note %]</p>
				[% END %]
			[% END %]
			[% UNLESS home %]
				<a href="?page=people&amp;home=1">Home</a><br>
			[% END %]
			<a href="?page=censuses">Census Index</a><br>
			<a href="?page=surnames">Surname Index</a><br>
			<a href="?page=history&amp;entry=[% entry %]">Life Events</a><br>
			<a href="?page=todo">To Do</a><br>
			<a href="?page=calendar">Calendar</a>
			[% IF person.children && !person.alive %]
				[ <a href="?page=descendants&entry=[% entry %]">Descendants</a> ] |
			[% END %]
			[ <a href="/visjs.html">Timeline</a> ]
			<a href="?page=graphs">Analytics</a>
		[% ELSE %]
			<h1>[% SiteTitle.join(' ') %]</h1>
		[% END %]
		<p>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
		</p>
	</body>
</html>
