<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta http-equiv="Content-Language" content="en">
		<meta name="language" content="ENGLISH">
		<meta name="object" content="Index">
		<meta name="owner" content="Nigel Horne">
		<meta name="author" content="Nigel Horne" />
		<meta name="robots" content="index, follow" />
		<meta name="Copyright" content="Copyright (C) 2025 Nigel Horne, all rights reserved">
		[% IF surname %]
			<title>Genealogy records for [% surname %] in [% SiteTitle.join(' ') %]</title>
			<meta name="description" content="Browse a list of people with the surname [% surname %] in [% SiteTitle.join(' ') %]. Explore family history records and trace ancestral lines." />
			<meta name="keywords" content="genealogy, surnames, [% surname %] history, family history, family tree, ancestral names" />
		[% ELSE %]
			<title>Genealogy Surname Index for [% SiteTitle.join(' ') %]</title>
			<meta name="description" content="Browse an alphabetical index of surnames from [% SiteTitle.join(' ') %]. Explore family history records and trace ancestral lines." />
			<meta name="keywords" content="genealogy, surnames, family history, family tree, ancestral names" />
		[% END %]
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--
			<meta name="msvalidate.01" content="deadbeef" />
		-->
	</head>
	<body>
		[% IF surname %]
			<title>Genealogy records for [% surname %] | [% SiteTitle.join(' ') %]</title>
		[% ELSE %]
			<title>Genealogy Surname Index | [% SiteTitle.join(' ') %]</title>
		[% END %]
		[% IF error %]
			<p><font color="red" size="+2">[% error %]</font></p>
		[% END %]

		Explore an extensive collection of family surnames featured in [% SiteTitle.join(' ') %].
		This alphabetical index provides quick access to ancestral records,
		helping you trace lineage,
		uncover historical connections,
		and discover family heritage across generations.

		<a href="?page=home">Home</a><br>
		<a href="?page=people&amp;home=1">Home Person</a><br>
		<a href="?page=censuses">Census Index</a><br>
		<a href="?page=surnames">Surname Index</a><br>
		<a href="?page=history">Family History</a><br>
		<a href="?page=todo">To Do</a><br>
		<a href="?page=calendar">Calendar</a><br>
		<a href="?page=censuses">Censuses</a><br>
		<a href="?page=graphs">Analytics</a><br>
		<a href="?page=emigrants">Emigrants</a><br>
		<a href="/visjs.html">Timeline</a><br>

		Generated by <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a>.
		[% IF updated %]
			[% USE date %]
			Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
		[% END %]
	</body>
</html>
