<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
	<head>
		[% IF graph == 'ageatdeath' %]
			[% SET title = 'Lebenserwartung' %]
		[% ELSIF graph == 'birthmonth' %]
			[% SET title = 'Month of Birth' %]
		[% ELSIF graph == 'marriagemonth' %]
			[% SET title = 'Month of Marriage' %]
		[% ELSIF graph == 'deathmonth' %]
			[% SET title = 'Month of Death' %]
		[% ELSIF graph == 'ageatmarriage' %]
			[% SET title = 'Average Age at First Marriage' %]
		[% ELSIF graph == 'infantdeaths' %]
			[% SET title = 'Infant Deaths' %]
		[% ELSIF graph == 'firstborn' %]
			[% SET title = 'Months between marriage and first born' %]
		[% ELSIF graph == 'sex' %]
			[% SET title = 'Sex of people born in each year' %]
		[% ELSIF graph == 'ageatfirstchild' %]
			[% SET title = 'Age of Parents at Birth of First Child' %]
		[% ELSIF graph == 'ageatlastchild' %]
			[% SET title = 'Age of Parents at Birth of Last Child' %]
		[% ELSIF graph == 'dist' %]
			[% SET title = 'Average distance between places of birth and death' %]
		[% ELSIF graph == 'distcount' %]
			[% SET title = 'Distance between places of birth and death' %]
		[% ELSIF graph == 'familysizetime' %]
			[% SET title = 'How Family Size Changes over Time' %]
		[% ELSIF graph == 'motherchildren' %]
			[% SET title = 'Number of Children by Women' %]
		[% ELSIF graph == 'percentagedying' %]
			[% SET title = 'Percentage of people alive who died' %]
		[% ELSIF graph == 'birth_countries' %]
			[% SET title = 'Country of Birth' %]
		[% ELSIF graph == 'death_countries' %]
			[% SET title = 'Country of Death' %]
		[% ELSIF graph == 'name_date_m' %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Male First Name Popularity' %]
		[% ELSIF graph == 'name_date_f' %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Female First Name Popularity' %]
		[% ELSIF graph == 'surname_date' %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Surname Popularity' %]
		[% ELSE %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Choose a graph' %]
		[% END %]
		<title>[% title %]</title>
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="[% SiteTitle %]">
		[% END %]
		<!--
			<meta http-equiv="Content-Language" content="English">
		-->
		<meta name="description" content="[% SiteTitle.join(' ') %] [% title %] - A ged2site webpage">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
		<style type="text/css">
			/* Two columns */
			.column {
				float: left;
				width: 50%;
			}

			/* Clear floats after the columns */
			.row:after {
				content: "";
				display: table;
				clear: both;
			}
		</style>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script> -->
		<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
		[% IF datapoints.M %]
			<script type="text/javascript">

			window.onload = function () {
				var chartM = new CanvasJS.Chart("chartContainerM", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %] (Men)"
					},
					zoomEnabled: false,
					axisY: {
						[% IF graph == 'ageatdeath' %]
							includeZero: false,
							title: 'Age at Death',
						[% ELSIF graph == 'percentagedying' %]
							title: 'Percentage',
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'ageatdeath' %]
						axisX: {
							title: 'Year of Death'
						},
					[% END %]
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							type: "line",
							showInLegend: true,
							[% IF graph == 'ageatdeath' %]
								name: "Values",
							[% END %]
							color: "#F08080",
							dataPoints: [
								[% datapoints.M %]
							]
						},
						[% IF bestfit.M %]
							{
								// Change type to "bar", "area", "spline", "pie","column" etc.
								type: "line",
								[% IF graph == 'ageatdeath' %]
									lineDashType: "dash",
									connectNullData: true,
									nullDataLineDashType: "dot",
									name: "Trend",
								[% END %]
								showInLegend: true,
								color: "#20B2AA",
								dataPoints: [
									[% bestfit.M %]
								]
							},
						[% END %]
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chartM.render();
						}
					}
				});
				var chartF = new CanvasJS.Chart("chartContainerF", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %] (Women)"
					},
					zoomEnabled: false,
					axisY: {
						[% IF graph == 'ageatdeath' %]
							includeZero: false,
							title: 'Age at Death',
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'ageatdeath' %]
						axisX: {
							title: 'Year of Death'
						},
					[% END %]
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							type: "line",
							showInLegend: true,
							[% IF graph == 'ageatdeath' %]
								name: "Values",
							[% END %]
							color: "#F08080",
							dataPoints: [
								[% datapoints.F %]
							]
						},
						[% IF bestfit.F %]
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							type: "line",
							[% IF graph == 'ageatdeath' %]
								lineDashType: "dash",
								connectNullData: true,
								nullDataLineDashType: "dot",
								name: "Trend",
							[% END %]
							showInLegend: true,
							color: "#20B2AA",
							dataPoints: [
								[% bestfit.F %]
							]
						},
						[% END %]
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chartF.render();
						}
					}
				});
				chartM.render();
				chartF.render();
			}
			</script>
		[% ELSIF datapoints %]
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title:{
						text: "[% title %]"
					},
					axisY: {
						[% IF graph == 'dist' %]
							title: '[% units %]',
						[% ELSIF graph == 'familysizetime' %]
							title: "Number of Children",
						[% ELSIF graph == 'motherchildren' %]
							title: "Number of Mothers",
							includeZero: false,
						[% ELSIF graph == 'infantdeaths' %]
							title: 'Percentage',
						[% ELSIF graph == 'distcount' %]
							title: "Number of People",
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'firstborn' %]
						axisX: {
							title: "Monate",
							interval: 6,
							intervalType: "month"
						},
						zoomEnabled: true,
					[% ELSIF graph == 'dist' %]
						zoomEnabled: true,
					[% ELSIF graph == 'distcount' %]
						zoomEnabled: true,
						axisX: {
							title: '[% units %]'
						},
					[% ELSIF graph == 'motherchildren' %]
						axisX: {
							title: "Number of Children",
						},
					[% END %]
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							[% IF graph == 'birthmonth' || graph == 'marriagemonth' || graph == 'deathmonth' || graph == 'firstborn' || graph == 'motherchildren' %]
								type: "column",
							[% ELSE %]
								type: "line",
							[% END %]
							dataPoints: [
								[% datapoints %]
							]
						}
					]
				});
				chart.render();
			}
			</script>
		[% ELSIF mdata && fdata %]
			<script type="text/javascript">

			window.onload = function () {
				var chartM = new CanvasJS.Chart("chartContainerM", {
					theme: "theme1",	//theme2
					title:{
						text: "[% title %] (Mother's side)"
					},
					animationEnabled: true,	// change to false
					data: [ [% mdata %] ]
				});
				var chartF = new CanvasJS.Chart("chartContainerF", {
					theme: "theme1",	//theme2
					title:{
						text: "[% title %] (Father's side)"
					},
					animationEnabled: true,	// change to false
					data: [ [% fdata %] ]
				});
				chartF.render();
				chartM.render();
			}
			</script>
		[% ELSIF mdatapoints && fdatapoints %]
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %]"
					},
					[% IF graph == 'sex' %]
						zoomEnabled: true,
					[% END %]
					axisY: {
						[% IF graph == 'sex' %]
							title: 'Percentage',
							minimum: 0,
							maximum: 100,
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'ageatmarriage' %]
					axisX: {
						title: 'Year of Marriage'
					},
					[% END %]
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column"etc.
							type: "line",
							showInLegend: true,
							name: "Male",
							color: "#F08080",
							dataPoints: [
								[% mdatapoints %]
							]
						}, {
							// Change type to "bar", "area", "spline", "pie","column"etc.
							type: "line",
							name: "Female",
							showInLegend: true,
							color: "#20B2AA",
							dataPoints: [
								[% fdatapoints %]
							]
						},
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chart.render();
						}
					}
				});
				chart.render();
			}
			</script>
		[% END %]
		<!--
		<style type="text/css">
			body {
				font: 10pt sans;
			}
		</style>
		-->
	</head>

	<body>
		[% UNLESS name_date || surname_date %]
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">Aufgabe</a> ] |
				[ <a href="?page=calendar">Kalendar</a> ] |
				[% IF graph %]
					[ <a href="?page=graphs">Analytics</a> ] |
				[% END %]
				[ <a href="?page=emigrants">Emigrants</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			<p>
		[% END %]

		[% IF graph == 'ageatdeath' %]
			<p>
				These graphs of average (mean) age at death against year of death starting at 1840
				only includes those who lived past the age of 20.
			</p>
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
			<h2>Sample Sizes</h2>
			<div class="row">
				<div class="column">
					<i>Men</i>
					<ul>
						[% FOREACH sample IN samples.M %]
							<li>[% sample.bucket %]: [% sample.size %]</li>
						[% END %]
					</ul>
				</div>
				<div class="column">
					<i>Women</i>
					<ul>
						[% FOREACH sample IN samples.F %]
							<li>[% sample.bucket %]: [% sample.size %]</li>
						[% END %]
					</ul>
				</div>
			</div>
		[% ELSIF graph == 'birthmonth' || graph == 'marriagemonth' || graph == 'deathmonth' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		[% ELSIF graph == 'distcount' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'motherchildren' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>
				This graph depends a lot on all children being recorded.
				To make that more likely, mothers born before 1820 are not included.
			</p>
		[% ELSIF graph == 'ageatmarriage' %]
			<div id="chartContainer" style="height: 400px; width: 100%;"></div>
			<p>If the data size is not large, anomolies can appear.</p>
		[% ELSIF graph == 'familysizetime' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>
				The time period is set by the 5 year period of the birth of the first child.
				Only 5 year periods that contain at least 5 families are shown.
			</p>
		[% ELSIF graph == 'infantdeaths' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph shows percentage of those born who died aged 5 or younger.</p>
		[% ELSIF graph == 'sex' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data from 5 year periods that contain at least 25 births.</p>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'firstborn' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data when the exact date of marriage and births are known.</p>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'dist' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data from 5 year periods that contain at least 10 births.</p>
			<p>People who moved much further away than most (for example emigrants) are not included so that the graph more reflects the norm.</p>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'ageatfirstchild' || graph == 'ageatlastchild' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph, which shows the trend of generation gaps over the years, only includes data when the year of births of parents and children are known.</p>
			<p>This graph only includes data from 5 year periods that contain at least 5 births.</p>
		[% ELSIF graph == 'percentagedying' %]
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
			<p>
				If the percentage dying looks very large, probably the number of births is low in the tree,
				so more births should be added to the tree.
			</p>
			<p>
				People with no death information born after 1920 are assumed to be alive, those born before 1920
				are assuming to be missing a death record.
				These differences could cause anomolies.
			</p>
		[% ELSIF graph == 'birth_countries' %]
			<p>
				Shows the countries of birth on both sides of the family of all adults in the tree.
			<p>
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
		[% ELSIF graph == 'death_countries' %]
			<p>
				Shows the countries of death on both sides of the family of all adults in the tree.
			<p>
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
		[% ELSIF graph == 'name_date_m' || graph == 'name_date_f' %]
			<div id="header_container">
				<center>[% title %]</center>
			</div>
			<div id="container">
				<center>
					[ <a href="?page=people&amp;home=1">Home</a> ] |
					[ <a href="?page=censuses">Census Index</a> ] |
					[ <a href="?page=surnames">Surname Index</a> ] |
					[ <a href="?page=history">Family History</a> ] |
					[ <a href="?page=todo">To Do</a> ] |
					[ <a href="?page=calendar">Kalendar</a> ] |
					[% IF graph %]
						[ <a href="?page=graphs">Analytics</a> ] |
					[% END %]
					[ <a href="?page=emigrants">Emigrants</a> ] |
					[ <a href="/visjs.html">Timeline</a> ]
				</center>
				[% FOREACH year IN name_date %]
					<h2>[% year.year * 25 %]</h2>
					[% year.data %]
				[% END %]
			</div>
		[% ELSIF surname_date %]
			<div id="header_container">
				<center>
					<h1>Surname Popularity</h1>
				</center>
			</div>
			<div id="container">
				<center>
					[ <a href="?page=people&amp;home=1">Home</a> ] |
					[ <a href="?page=censuses">Census Index</a> ] |
					[ <a href="?page=surnames">Surname Index</a> ] |
					[ <a href="?page=history">Family History</a> ] |
					[ <a href="?page=todo">To Do</a> ] |
					[ <a href="?page=calendar">Kalendar</a> ] |
					[% IF graph %]
						[ <a href="?page=graphs">Analytics</a> ] |
					[% END %]
					[ <a href="?page=emigrants">Emigrants</a> ] |
					[ <a href="/visjs.html">Timeline</a> ]
				</center>
				[% FOREACH year IN surname_date %]
					<h2>[% year.year * 25 %]</h2>
					[% year.data %]
				[% END %]
			</div>
		[% ELSE %]
			<div id="header_container">
				<center>
					<h1>Analytics for [% SiteTitle.join(' ') %]</h1>
				</center>
			</div>
			<div id="container">
				<h1>Choose a Graph</h1>
				<br>
				<ul id="nav">
					<li><a href="?page=graphs&amp;graph=birthmonth">Month of birth</a></li>
					<li><a href="?page=graphs&amp;graph=marriagemonth">Month of marriage</a></li>
					<li><a href="?page=graphs&amp;graph=deathmonth">Month of death</a></li>
					<li><a href="?page=graphs&amp;graph=infantdeaths">Infant deaths</a></li>
					<li><a href="?page=graphs&amp;graph=ageatmarriage">Average age at marriage</a></li>
					<li><a href="?page=graphs&amp;graph=ageatdeath">Average age at death</a></li>
					<li><a href="?page=graphs&amp;graph=firstborn">Months of marriage before first child</a></li>
					<li><a href="?page=graphs&amp;graph=sex">Sex of people born in each year</a></li>
					<li><a href="?page=graphs&amp;graph=dist">Average distance between birth and death</a></li>
					<li><a href="?page=graphs&amp;graph=distcount">Distance count</a></li>
					<li><a href="?page=graphs&amp;graph=ageatfirstchild">Age of parents at birth of first child</a></li>
					<li><a href="?page=graphs&amp;graph=ageatlastchild">Age of parents at birth of last child</a></li>
					<li><a href="?page=graphs&amp;graph=familysizetime">How family size changes over time</a></li>
					<li><a href="?page=graphs&amp;graph=motherchildren">Number of children by women</a></li>
					<li><a href="?page=graphs&amp;graph=percentagedying">Percentage of the people dying</a></li>
					<li><a href="?page=graphs&amp;graph=name_date_m">Male First Name Popularity</a></li>
					<li><a href="?page=graphs&amp;graph=name_date_f">Female First Name Popularity</a></li>
					<li><a href="?page=graphs&amp;graph=surname_date">Surname Popularity</a></li>
					<li><a href="?page=graphs&amp;graph=birth_countries">Country of Birth</a></li>
					<li><a href="?page=graphs&amp;graph=death_countries">Country of Death</a></li>
				</ul>
			</div>
		[% END %]

		<p align="right">
			<i>
			<a href="https://github.com/nigelhorne/ged2site">Ged2site</a> hat diese Internetseite erstellt.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
