<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//DE"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de" dir="ltr">
	<head>
		<title>Herkunft in [% SiteTitle.Default.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="German">
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Herkunft in [% SiteTitle.Default.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=home">Startseite</a> ] |
				[ <a href="?page=graphs">Analytik</a> ] |
				[ <a href="?page=emigrants">Auswanderer</a> ] |
				[ <a href="?page=censuses">Volksz&auml;hlungsindex</a> ] |
				[ <a href="?page=surnames">Namensindex</a> ] |
				[ <a href="?page=history">Familiengeschichte</a> ] |
				[ <a href="?page=reports">Reports</a> ] |
				[ <a href="?page=calendar">Kalender</a> ]
			</center>
			<br>
			[% IF heritage_by_country %]
				[% FOREACH country IN heritage_by_country.keys.sort %]
					<h2>[% country %]</h2>
					<table>
						<tr>
							<th>Name</th>
							<th>Verwandtschaft</th>
							<th>Geboren</th>
						</tr>
						[% FOREACH person IN heritage_by_country.$country %]
							<tr>
								<td><a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a></td>
								<td>[% person.relationship %]</td>
								<td>[% person.dob %]</td>
							</tr>
						[% END %]
					</table>
				[% END %]
			[% ELSE %]
				<p>Keine Herkunft au&szlig;erhalb des Heimatlandes gefunden.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			Diese Website wurde von <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a> generiert.
			[% IF updated %]
				[% USE date %]
				Zuletzt aktualisiert am [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
