<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Family History of [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/responsive.css">
		<link href='https://fonts.googleapis.com/css?family=Dosis:200, 300, 400,, 500, 600, 700,800' rel='stylesheet' type='text/css'>
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
	</head>
	<body class="page">
		<center>
			[ <a href="?page=people&home=1">Home</a> ] | [ <a href="?page=censuses">Census Index</a> ] | [ <a href="?page=surnames">Surname Index</a> ]
		</center>
		<div id="start" class="timeline container">
			<h2 class="module">Family History of [% SiteTitle.join(' ') %]</h2>
		[% IF error %]
			<p><font color="red" size="+2">[% error %]</font></p>
		[% END %]

		<div class="small-border"></div>
		<div class="big-border"></div>

		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-left module">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quaerat quo animi provident nam dolore, omnis molestiae facere eos, soluta explicabo. Reiciendis itaque expedita, magnam incidunt illo suscipit consequuntur minima.
					</p>
				</div><!-- ./ss-left -->
				<div class="ss-right jaartal module">
					<h3>1950</h3>
					<div class="bolleke ss-r module">
						<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
					</div><!-- ./ss-r -->
				</div><!-- ./ss-right -->
			</div><!-- ./ss-row -->
			<div class="ss-row ss-medium">
				<div class="ss-left jaartal module">
					<h3>1965</h3>
					<div class="bolleke ss-l module">
						<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
					</div><!-- ./ss-r -->
				</div><!-- ./ss-left -->
				<div class="ss-right module">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt culpa et itaque, accusantium iure doloremque. Odio deserunt assumenda atque, mollitia accusamus facere iure culpa voluptatum illum, molestiae laboriosam, excepturi et!
					</p>
				</div><!-- ./ss-right -->
			</div><!-- ./ss-row -->
			<div class="ss-row">
				<div class="ss-left module">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus delectus aspernatur vero impedit dolores vitae, aperiam doloremque qui dolore quibusdam beatae provident eius sequi inventore autem, voluptates unde maiores debitis.
					</p>
				</div><!-- ./ss-left -->
				<div class="ss-right jaartal module">
					<h3>1979</h3>
					<div class="bolleke ss-r module">
						<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
					</div><!-- ./ss-r -->
				</div><!-- ./ss-right -->
			</div><!-- ./ss-row -->
			<div class="ss-row ss-medium">
				<div class="ss-left jaartal module">
					<h3>1993</h3>
					<div class="bolleke ss-l module">
						<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
					</div><!-- ./ss-r -->
				</div><!-- ./ss-left -->
				<div class="ss-right module">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed debitis eligendi iste.
					</p>
				</div><!-- ./ss-right -->
			</div><!-- ./ss-row -->
			<div class="ss-row">
				<div class="ss-left module">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sunt culpa corporis eius, doloremque fuga ipsam, amet cumque molestiae, laboriosam autem soluta ullam sint vero ratione excepturi, obcaecati cum. Saepe?
					</p>
				</div><!-- ./ss-left -->
				<div class="ss-right jaartal module">
					<h3>2005</h3>
					<div class="bolleke ss-l module">
						<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
					</div><!-- ./ss-l -->
				</div><!-- ./ss-right -->
			</div><!-- ./ss-row -->
		</div><!-- ./ss-container -->

		<div class="clearfix"></div>

		<div class="big-border"></div>
		<div class="small-border"></div>

		<h2 class="module">The end of the timeline!</h2>

	</div><!-- ./timeline -->

		<!--
		[% USE day = date(format = '%e %B', locale = lingua.language_code_alpha2) %]
		[% FOREACH year IN events.keys.sort %]
			<h2>[% year %]</h2>
			<ul>
				[% FOREACH event IN events.$year %]
					<li>
						[% day.format("0:0:0 $event.day:$event.month:$year") %]
						<a href="?page=people&entry=[% event.person %]">[% event.title %]</a>:
						[% event.event %]
					</li>
				[% END %]
			</ul>
		[% END %]
		-->
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/gedsite">gedsite</a>.
			Last updated on Jul 22, 2016
			</i>
		</p>
	</body>
</html>
