<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF person %]
			<title>[% person.title %]</title>
		[% ELSE %]
			<title>[% SiteTitle.join(' ') %]</title>
			<script language="JavaScript">
				<!--HIDE
				function time() {
					setTimeout("window.location.replace('page.fcgi?page=people&home=1')", 100)
				}
				//STOP HIDING-->
			</script>
			<meta http-equiv="Refresh" content="1;URL=page.fcgi?page=people&home=1">
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		[% IF person.map_head %]
			[% decode_base64url(person.map_head) %]
		[% END %]
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
	</head>
	[% IF person.map_body %]
		<body onload="html_googlemaps_initialize()">
	[% ELSE %]
		<body>
	[% END %]
		[% IF person %]
			<center>
				<h1>[% person.title %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
				[ <a href="?page=people&home=1">Home</a> ] | [ <a href="?page=censuses">Census Index</a> ] | [ <a href="?page=surnames">Surname Index</a> ] | [ <a href="?page=history">Family History</a> ] | <a href="?page=todos">To Do</a>
			</center>
			<p>[% person.bio %]</p>
			[% IF person.father || person.mother %]
				<h2>Parents</h2>
				<ol>
				[% IF person.father %]
					<li>[% person.father %]</li>
				[% END %]
				[% IF person.mother %]
					<li>[% person.mother %]</li>
				[% END %]
				</ol>
			[% END %]
			[% IF person.children %]
				<h2>Children</h2>
				<ol>
					[% FOREACH child IN person.children.split('----') %]
						<li>[% child %]</li>
					[% END %]
				</ol>
			[% END %]
			[% IF person.citations %]
				<h2>Citations</h2>
				<ol>
					[% FOREACH citation IN person.citations.split('----') %]
						<li>[% citation %]</li>
					[% END %]
				</ol>
			[% END %]
			[% IF person.notes %]
				<h2>Notes</h2>
				[% FOREACH note IN person.notes.split('----') %]
					<p>[% note %]</p>
				[% END %]
			[% END %]
			[% IF person.media %]
				<h2>Media</h2>
				[% FOREACH object IN person.media.split('----') %]
					<p>
						<a href="[% object.split('---').0 %]" target="_blank">
							<img src="[% object.split('---').0 %]" alt="[% object.split('---').1 %]"
								width="175"
								[% IF object.split('---').2 %] height="[% object.split('---').2 %]" [% END %]
							>
						</a>
					<p>
				[% END %]
			[% END %]
			[% IF person.family_tree %]
				<h2>Family Tree</h2>
				<img src="[% person.family_tree.split('---').0 %]" [% person.family_tree.split('---').1 %] usemap="#family" alt="Family Tree">
				[% person.family_tree.split('---').2 %]
			[% END %]
			[% IF person.map_body %]
				<h2>Map</h2>
				[% decode_base64url(person.map_body) %]
			[% END %]
			[% IF person.warnings %]
				<h2>To be done</h2>
				[% person.warnings %]
			[% END %]
		[% ELSE %]
			<h1>[% SiteTitle.join(' ') %]</h1>
			Loading, please wait
		[% END %]
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/gedsite">gedsite</a>.
			Last updated on Jul 22, 2016
			</i>
		</p>
	</body>
</html>
