<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF person %]
			<title>[% person.title %]</title>
		[% ELSE %]
			<title>[% SiteTitle.join(' ') %]</title>
			<script language="JavaScript">
				<!--HIDE
				function time() {
					setTimeout("window.location.replace('cgi-bin/index.fcgi?home=1')", 100)
				}
				//STOP HIDING-->
			</script>
			<meta http-equiv="Refresh" content="1;URL=cgi-bin/index.fcgi?home=1">
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
	</head>
	<body onload="html_googlemaps_initialize()">
		[% IF person %]
			<center><h1>[% person.title %]</h1></center>
			<p>[% person.bio %]</p>
			[% IF person.father || person.mother %]
				<h2>Parents</h2>
				<ol>
				[% IF person.father %]
					<li>[% person.father %]</li>
				[% END %]
				[% IF person.mother %]
					<li>[% person.mother %]</li>
				[% END %]
				</ol>
			[% END %]
			[% IF person.children %]
				<h2>Children</h2>
				<ol>
					[% FOREACH child IN person.children.split('----') %]
						<li>[% child %]</li>
					[% END %]
				</ol>
			[% END %]
			[% IF person.citations %]
				<h2>Citations</h2>
				<ol>
					[% FOREACH citation IN person.citations.split('----') %]
						<li>[% citation %]</li>
					[% END %]
				</ol>
			[% END %]
			[% IF person.notes %]
				<h2>Notes</h2>
				[% FOREACH note IN person.notes.split('----') %]
					<p>[% note %]</p>
				[% END %]
			[% END %]
		[% ELSE %]
			<h1>[% SiteTitle.join(' ') %]</h1>
			Loading, please wait
		[% END %]
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/gedsite">gedsite</a>.
			Last updated on Jul 22, 2016
			</i>
		</p>
	</body>
</html>
