body {
	margin: 40px 10px;
	padding: 0;
	background:white;
	font-family: -apple-system-headline,BlinkMacSystemFont,times,"times new roman",georgia,serif;
	/*background: #d6d6d6;	/* Best to agree with the colour that ged2site uses for Graphviz's background */
	font-size: 20px;
	line-height: 150%
}

h1 {
	font-family:-apple-system-headline,BlinkMacSystemFont,Verdana,sans-serif;
	font-size:24px;
	font-style:normal
}

h2 {
	font-family:-apple-system-headline,BlinkMacSystemFont,Verdana,sans-serif;
	font-style:normal;
	font-size:20px;
	color:gray
}

.citation {
	position: relative;
	bottom: 0.5em;
	font-size: 0.8em;
	font-style: italic;
}

a,.myButton {
	text-decoration:none
}

.myButton:hover {
	color:red
}

.myButton:active {
	position:relative
}

.myButton {
	font:20pt arial bold;
	font-size:20px;
	background:#2C4EAC;
	-moz-box-shadow:inset 0 1px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 0 1px 0 0 #bbdaf7;
	box-shadow:inset 0 1px 0 0 #bbdaf7;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#2C4EAC),color-stop(1,#378de5) );
	background:-moz-linear-gradient( center top,#2C4EAC 5%,#378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2C4EAC',endColorstr='#378de5');
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	padding:11.5px 24px;
	text-shadow:1px 1px 0 #528ecc
}

.myButton,#stylized button {
	color:#fff
}

/* .myButton:hover {
	background:#378de5;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#378de5),color-stop(1,#2C4EAC) );
	background:-moz-linear-gradient( center top,#378de5 5%,#2C4EAC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',endColorstr='#2C4EAC')
} */

.myButton:active {
	top:1px
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
