body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	/*background: #d6d6d6;	/* Best to agree with the colour that ged2site uses for Graphviz's background */
        font-size: 14px
}

table {
	border: 0
}

.social_media {
        position: fixed;
        left: 75%;
        width: 20%;
}

#header_container {
	background:#378de5;
	color:white;
	border:1px solid #666;
	height:90px;
	left:0;
	position:fixed;
	width:100%;
	top:0;
	padding: 10px;
	z-index: 999
}

#header {
	line-height:100px;
	margin:0 auto;
	width:940px;
	text-align:center;
}
 
#container {
	margin:0 auto;
	overflow:auto;
	padding:80px 0;
	/*width:940px;*/
	margin: 25px 25% 0 5%;
}
#content{}

#container img {
	border: 7px solid #fff;
	margin: 5px
}

#footer_container {
	background:#eee;
	border:1px solid #666;
	bottom:0;
	height:60px;
	left:0;
	position:fixed;
	width:100%;
}

#footer {
	line-height:60px;
	margin:0 auto;
	width:940px;
	text-align:center;
}

.citation {
	position: relative;
	bottom: 0.5em;
	font-size: 0.8em;
}

h2 {                                            
        /* position: relative;          
        top:3em;                        
        border: 2px solid #2c4eac; */           
        width: 85%;
        margin: auto;                   
        color:#2C4EAC;          
        line-height: 2em;
}                       
                                
/* http://accessify.com/tools-and-wizards/developer-tools/list-o-matic/ */
ul#nav {                                        
        color:#2c4eac;                                  
        font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:30em
}                                               
ul#nav li {                             
        margin:0;padding:0;list-style:none;margin:0 0 0.3em 0;color:#2c4eac;margin-left:10em;
}                       
ul#nav li a {   
        color:#2c4eac;
        text-decoration:none;display:block;padding:0.3em 0.5em;border:1px solid silver;background:#fff
}
ul#nav li a:hover {
        /*border:1px solid gray;color:#000;background:#efefef*/
        border:1px solid gray;color:#2c4eac;background:#efefef
}
