body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	background: #d6d6d6;
        font-size: 14px
}

table {
	border: 0
}

.social_media {
        position: fixed;
        left: 75%;
        width: 20%;
}

#header_container {
	background:#378de5;
	color:white;
	border:1px solid #666;
	height:90px;
	left:0;
	position:fixed;
	width:100%;
	top:0;
	padding: 10px;
	z-index: 999
}

#header {
	line-height:100px;
	margin:0 auto;
	width:940px;
	text-align:center;
}
 
#container {
	margin:0 auto;
	overflow:auto;
	padding:80px 0;
	/*width:940px;*/
	margin: 25px 25% 0 5%;
}
#content{}

#container img {
	border: 7px solid #fff;
	margin: 5px
}

#footer_container {
	background:#eee;
	border:1px solid #666;
	bottom:0;
	height:60px;
	left:0;
	position:fixed;
	width:100%;
}

#footer {
	line-height:60px;
	margin:0 auto;
	width:940px;
	text-align:center;
}
