body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px
}
.social_media {
        position: relative;
        width: 10%;
        left: 70%;
}
