<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF census %]
			<title>[% census.0.census %] entries in [% SiteTitle.join(' ') %]</title>
		[% ELSE %]
			<title>Censuses for [% SiteTitle.join(' ') %]</title>
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<center>
			[% IF census %]
				<h1>[% census.0.census %] entries in [% SiteTitle.join(' ') %]</h1>
			[% ELSE %]
				<h1>Censuses for [% SiteTitle.join(' ') %]</h1>
			[% END %]
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			[ <a href="?page=people&amp;home=1">Home</a> ]<br>
			[% IF people %]
				[ <a href="?page=censuses">Census Index</a> ]<br>
			[% END %]
			[ <a href="?page=surnames">Surname Index</a> ]<br>
			[ <a href="?page=history">Family History</a> ]<br>
			[ <a href="?page=reports">Reports</a> ]<br>
			[ <a href="?page=calendar">Calendar</a> ]
		</center>
		<br>
		[% IF censuses %]
			<ul>
				[% FOREACH census IN censuses %]
					<li>
						<a href="?page=censuses&census=[%- census | uri -%]">[% census %]</a>
					</li>
				[% END %]
			</ul>
		[% ELSIF people %]
			<ul>
				[% FOREACH person IN people %]
					<li>
						<a href="?page=people&entry=[%- person.entry %]">[% person.title %]</a>
					</li>
				[% END %]
			</ul>
		[% END %]
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
