<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
	<head>
		<title>Facts for [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf8">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
	</head>
	<body>
		<h1>Facts for [% SiteTitle.join(' ') %]</h1>
		[% IF error %]
			<p><font color="red" size="+2">[% error %]</font></p>
		[% END %]
		[% IF facts %]
			<p>
				There are [% facts.count %] people in the tree,
				of which [% facts.sex.M %] are male and [% facts.sex.F %] are female.
			</p>
                        [% IF facts.fathers_side %]
                                <p>
                                        There are [% facts.fathers_side.count %] people on the father's side
                                </p>
                        [% END %]               
                        [% IF facts.mothers_side %]
                                <p>     
                                        There are [% facts.mothers_side.count %] people on the mother's side
                                </p>                    
                        [% END %]
			[% IF facts.first_birth %]
				<p>
					First person in the tree:
					<a href="?page=people&amp;entry=[%- facts.first_birth.person.entry %]">[% facts.first_birth.person.title %]</a> was born on [% facts.first_birth.date %]
				</p>
			[% END %]
			[% IF facts.oldest_age %]
				<p>
					Person who lived the longest:
					<a href="?page=people&amp;entry=[%- facts.oldest_age.person.entry %]">[% facts.oldest_age.person.title %]</a> who lived for [% facts.oldest_age.years %] years
				</p>
			[% END %]
		[% END %]
		<center><font size="+2">
			[ <a href="?page=people&amp;home=1">Home</a> ]<br>
			[ <a href="?page=censuses">Census Index</a> ]<br>
			[ <a href="?page=surnames">Surname Index</a> ]<br>
			[ <a href="?page=history">Family History</a> ]<br>
			[ <a href="?page=calendar">Calendar</a> ]<br>
			[ <a href="/visjs.html">Timeline</a> ]
		</font></center>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				<br>
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
