<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
	<head>
		<title>Facts for [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf8">
		<meta name="Copyright" content="Copyright (C) 2025 Nigel Horne">
		[% USE Math %]
	</head>
	<body>
		<h1>Facts for [% SiteTitle.join(' ') %]</h1>
		[% IF error %]
			<p><font color="red" size="+2">[% error %]</font></p>
		[% END %]
		[% IF facts %]
			<p>
				There are [% facts.number_of_individuals %] people in the tree,
				of which [% facts.sex.M %] are male and [% facts.sex.F %] are female.
				IF [% facts.sex.U %]
					There are also [% facts.sex.U %] people for which the sex is unknown.
				[% END %]
			</p>
			[% IF facts.number_of_families %]
				<p>
					There are [% facts.number_of_families %] families in the tree.
				</p>
			[% END %]
			[% IF facts.fathers_side %]
				<p>
					There are [% facts.fathers_side.count %] adults known to have lived to 20 or over on the father's side,
					of which the average (mean) age at death was [% Math.int(facts.fathers_side.age / facts.fathers_side.count) %].

				</p>
			[% END %]
			[% IF facts.mothers_side %]
				<p>
					There are [% facts.mothers_side.count %] adults known to have lived to 20 or over on the mother's side,
					of which the average (mean) age at death was [% Math.int(facts.mothers_side.age / facts.mothers_side.count) %].
				</p>
			[% END %]
			[% IF facts.first_birth %]
				<p>
					First person in the tree:
					<a href="?page=people&amp;entry=[%- facts.first_birth.person.entry %]">[% facts.first_birth.person.title %]</a> was born on [% facts.first_birth.date %]
				</p>
			[% END %]
			[% IF facts.oldest_age %]
				<p>
					Person who lived the longest:
					<a href="?page=people&amp;entry=[%- facts.oldest_age.person.entry %]">[% facts.oldest_age.person.title %]</a> who lived for
					[% facts.oldest_age.years %] years,
					[% facts.oldest_age.months %] months and
					[% facts.oldest_age.days %] days
				</p>
			[% END %]
			[% IF facts.most_children %]
				<p>
					Person with the most children:
					<a href="?page=people&amp;entry=[%- facts.most_children.person.entry %]">[% facts.most_children.person.title %]</a> had [% facts.most_children.count %] children
				</p>
			[% END %]
			[% IF facts.both_sides %]
				<p>
					There
					[% IF facts.both_sides.count == 1 %]
						is 1 person who appears
					[% ELSE %]
						are [% facts.both_sides.count %] people who appear
					[% END %]
					on both the father's and mother's side of the tree:
					[% FOREACH person IN facts.both_sides.people %]
						<br><a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
				</p>
			[% END %]
			[% IF facts.family_size %]
				<p>
					The mean family size is [% facts.family_size.mean %] children.
				</p>
			[% END %]
			[% IF facts.youngest_marriage %]
				<p>
					The person who married at the youngest age was
					<a href="?page=people&amp;entry=[%- facts.youngest_marriage.person.entry %]">[% facts.youngest_marriage.person.title %]</a>,
					aged
					[% facts.youngest_marriage.years %] years,
					[% facts.youngest_marriage.months %] months and
					[% facts.youngest_marriage.days %] days
				</p>
			[% END %]
			[% IF facts.oldest_marriage %]
				<p>
					The person who married at the oldest age was
					<a href="?page=people&amp;entry=[%- facts.oldest_marriage.person.entry %]">[% facts.oldest_marriage.person.title %]</a>,
					aged
					[% facts.oldest_marriage.years %] years,
					[% facts.oldest_marriage.months %] months and
					[% facts.oldest_marriage.days %] days
				</p>
			[% END %]
			[% IF facts.longest_marriage %]
				<p>
					The longest marriage,
					<a href="?page=people&amp;entry=[%- facts.longest_marriage.person.entry %]">[% facts.longest_marriage.person.title %]</a>
					to
					<a href="?page=people&amp;entry=[%- facts.longest_marriage.spouse.entry %]">[% facts.longest_marriage.spouse.title %]</a>,
					lasted
					[% facts.longest_marriage.years %] years,
					[% facts.longest_marriage.months %] months and
					[% facts.longest_marriage.days %] days
				</p>
			[% END %]
			[% IF facts.people_over_100 %]
				<p>
					There
					[% IF facts.people_over_100.count == 1 %]
						is 1 person who was over 100 when they died
					[% ELSE %]
						are [% facts.people_over_100.count %] people who were over 100 when they died
					[% END %]
					[% FOREACH person IN facts.people_over_100.people %]
						<br><a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
					[% END %]
				</p>
			[% END %]
		[% END %]
		<center><font size="+2">
			[ <a href="?page=people&amp;home=1">Home</a> ]<br>
			[ <a href="?page=censuses">Census Index</a> ]<br>
			[ <a href="?page=surnames">Surname Index</a> ]<br>
			[ <a href="?page=history">Family History</a> ]<br>
			[ <a href="?page=calendar">Calendar</a> ]<br>
			[ <a href="/visjs.html">Timeline</a> ]
		</font></center>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				<br>
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
