<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF graph == 'ageatdeath' %]
			[% SET title = 'Adult Life Expectancy' %]
		[% ELSIF graph == 'birthmonth' %]
			[% SET title = 'Birth Month' %]
		[% ELSIF graph == 'ageatmarriage' %]
			[% SET title = 'Average Age at First Marriage' %]
		[% ELSIF graph == 'infantdeaths' %]
			[% SET title = 'Infant Deaths' %]
		[% ELSIF graph == 'firstborn' %]
			[% SET title = 'Months between marriage and first born' %]
		[% ELSE %]
			<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="screen">
			[% SET title = 'Choose a graph' %]
		[% END %]
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>[% title %]</title>
		[% IF datapoints %]
			<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title:{
						text: "[% title %]"
					},
					axisY: {
						[% IF graph == 'ageatdeath' %]
							includeZero: false,
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'firstborn' %]
						axisX: {
							title: "Months",
							interval: 6,
							intervalType: "month"
						},
						zoomEnabled: true,
					[% END %]
					animationEnabled: true,	// change to false
					data: [
					{
						// Change type to "bar", "area", "spline", "pie","column"etc.
						[% IF graph == 'birthmonth' || graph == 'firstborn' %]
							type: "column",
						[% ELSE %]
							type: "line",
						[% END %]
						dataPoints: [
							[% datapoints %]
						]
					}
					]
				});
				chart.render();
			}
			</script>
		[% ELSIF mdatapoints && fdatapoints %]
			<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %]"
					},
					axisY: {
						gridThickness: 0
					},
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column"etc.
							[% IF graph == 'birthmonth' %]
								type: "column",
							[% ELSE %]
								type: "line",
							[% END %]
							showInLegend: true,
							name: "Male",
							color: "#F08080",
							dataPoints: [
								[% mdatapoints %]
							]
						},
						{
							// Change type to "bar", "area", "spline", "pie","column"etc.
							[% IF graph == 'birthmonth' %]
								type: "column",
							[% ELSE %]
								type: "line",
							[% END %]
							showInLegend: true,
							color: "#20B2AA",
							name: "Female",
							dataPoints: [
								[% fdatapoints %]
							]
						},
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chart.render();
						}
					}
				});
				chart.render();
			}
			</script>
		[% END %]
		<!--
		<style type="text/css">
			body {
				font: 10pt sans;
			}
		</style>
		-->
	</head>

	<body>
		[% IF graph == 'ageatdeath' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes those who lived past the age of 20.</p>
		[% ELSIF graph == 'birthmonth' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		[% ELSIF graph == 'ageatmarriage' %]
			<div id="chartContainer" style="height: 400px; width: 100%;"></div>
		[% ELSIF graph == 'infantdeaths' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph shows percentage of those born who died aged 5 or younger.</p>
		[% ELSIF graph == 'firstborn' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data when the exact date of marriage and births are known.</p>
			<p>Select an area to zoom in.</p>
		[% ELSE %]
			<h2>Choose a Graph</h2>
			<ul>
				<li><a href="?page=graphs&graph=ageatdeath">Average age at death</a></li>
				<li><a href="?page=graphs&graph=birthmonth">Birth month</a></li>
				<li><a href="?page=graphs&graph=infantdeaths">Infant deaths</a></li>
				<li><a href="?page=graphs&graph=ageatmarriage">Average age at marriage</a></li>
				<li><a href="?page=graphs&graph=firstborn">Months of marriage before first child</a></li>
			</ul>
		[% END %]
		<center><font size="+2">
			[% UNLESS home %]
				[ <a href="?page=people&home=1">Home</a> ]<br>
			[% END %]
			[ <a href="?page=censuses">Census Index</a> ]<br>
			[ <a href="?page=surnames">Surname Index</a> ]<br>
			[ <a href="?page=history">Family History</a> ]<br>
			[ <a href="?page=graphs">Analytics</a> ]<br>
			[ <a href="?page=todo">To Do</a> ]<br>
		</font></center>
		<p align="right">
			<i>
			This website was generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
