<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF name %]
			<title>Timeline of [% name %]</title>
		[% ELSE %]
			<title>History of [% SiteTitle.join(' ') %]</title>
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<style>
			body {
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				font-size: 2;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<center>
			[% IF name %]
				<h1>Timeline of [% name %]</h1>
			[% ELSE %]
				<h1>History of [% SiteTitle.join(' ') %]</h1>
			[% END %]
			[ <a href="?page=people&amp;home=1">Home</a> ] |
			[ <a href="?page=people&amp;entry=[%- person.xref %]">Biography</a> ] |
			[ <a href="?page=censuses">Census Index</a> ] |
			[ <a href="?page=surnames">Surname Index</a> ]
		</center>
		[% IF error %]
			<p><font color="red" size="+2">[% error %]</font></p>
		[% END %]
		[% USE day = date(format = '%e %B', locale = lingua.language_code_alpha2) %]
		<!-- Sort back in time in the main table, forward in time when just one person -->
		[% IF name %]
			[% years = events.keys.sort %]
		[% ELSE %]
			[% years = events.keys.sort.reverse %]
		[% END %]
		[% FOREACH year IN years %]
			<h2>[% year %]</h2>
			<ul>
				[% FOREACH event IN events.$year %]
					<li>
						[% IF event.day && event.month %]
							[% day.format("0:0:0 $event.day:$event.month:$year") %]
						[% END %]
						[% IF event.xref %]
							<a href="?page=people&amp;entry=[% event.xref %]">[% event.title %]</a>:
						[% END %]
						[% event.event %]
					</li>
				[% END %]
			</ul>
		[% END %]
		<p>
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
