<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF person %]
			<title>[% person.title %]</title>
		[% ELSE %]
			<title>[% SiteTitle.join(' ') %]</title>
			<script language="JavaScript">
				<!--HIDE
				function time() {
					setTimeout("window.location.replace('page.fcgi?page=people&home=1')", 100)
				}
				//STOP HIDING-->
			</script>
			<meta http-equiv="Refresh" content="1;URL=page.fcgi?page=people&home=1">
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
			<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/mobile.css" text="/text/css" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		[% IF person %]
			<h1>[% person.title %]</h1>
			[% IF error %]
				<center>
					<p><font color="red" size="+2">[% error %]</font></p>
				</center>
			[% END %]
			<h2>Biography</h2>
			[% IF person.profile_thumbnail %]
				<center><img src="/[% person.profile_thumbnail %]"></center>
			[% END %]
			<p>[% person.bio %]</p>
			[% IF person.notes %]
				<h2>Notes</h2>
				[% FOREACH note IN person.notes.split('----') %]
					<p>[% note %]</p>
				[% END %]
			[% END %]
			[% IF person.citations %]
				<h2>Citations</h2>
				<ol>
					[% FOREACH citation IN person.citations.split('----') %]
						<li>[% citation %]</li>
					[% END %]
				</ol>
			[% END %]
			<center><font size="+2">
				[% UNLESS home %]
					[ <a href="?page=people&home=1">Home</a> ]<br>
				[% END %]
				[ <a href="?page=censuses">Census Index</a> ]<br>
				[ <a href="?page=surnames">Surname Index</a> ]<br>
				[ <a href="?page=history">Family History</a> ]<br>
				[ <a href="?page=graphs">Analytics</a> ]<br>
				[ <a href="?page=todo">To Do</a> ]<br>
			</font></center>
		[% ELSE %]
			<h1>[% SiteTitle.join(' ') %]</h1>
			Loading, please wait
		[% END %]
		<p>
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				<br>
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
