<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<title>WW2 Fatalities for [% SiteTitle.join(' ') %]</title>
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<meta http-equiv="Content-Language" content="English">
		<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf8">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne, all rights reserved">
	</head>
	<body>
		<h1>WW2 Fatalities for [% SiteTitle.join(' ') %]</h1>
		[% IF error %]
			<p><font color="red" size="+2">[% error %]</font></p>
		[% END %]
		[% IF wardead %]
			<p>
				This page shows those people who died in Europe during the Second World War.
				Currently it does not include those in the Navy who died at sea or in the war in Asia.
			</p>
			<br>
			[% FOREACH person IN wardead %]
				<p>
					<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
				</p>
			[% END %]
		[% ELSE %]
			<p>No-one in your family died in the Second World War.</p>
		[% END %]
		<center><font size="+2">
			[ <a href="?page=people&amp;home=1">Home</a> ]<br>
			[ <a href="?page=censuses">Census Index</a> ]<br>
			[ <a href="?page=surnames">Surname Index</a> ]<br>
			[ <a href="?page=history">Family History</a> ]<br>
			[ <a href="?page=calendar">Calendar</a> ]<br>
			[ <a href="?page=censuses">Censuses</a> ]<br>
			[ <a href="?page=graphs">Analytics</a> ]<br>
			[ <a href="?page=reports">Reports</a> ]<br>
			[ <a href="/visjs.html">Timeline</a> ]
		</font></center>
		<p>
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
