<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<!-- See https://fullcalendar.io/ -->
<html lang="en">
	<head>
		[% IF month %]
			<title>Events in [% month %] [% year %] in [% SiteTitle.Default.join(' ') %]</title>
		[% ELSE %]
			<title>Calendar of [% SiteTitle.Default.join(' ') %]</title>
		[% END %]
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
		<meta http-equiv="Content-Language" content="English">
		<meta name="description" content="Display the genealogy calendar of [% SiteTitle.Default.join(' ') %] in [% month %] [% year %] - A Ged2Site webpage">
		<!--
			<meta name="msvalidate.01" content="deadbeef" />
		-->
		<!--
			https://fullcalendar.io/js/fullcalendar-2.9.1/demos/agenda-views.html
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.print.css" media="print" />

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.min.js"></script>

		<script>
			\$(document).ready(function() {
				\$('#calendar').fullCalendar({
					header: {
						left: 'prev,next',
						// center: 'Calendar of [% SiteTitle.Default.join(" ") %]'
						center: 'title',
						right: '',
						lang: 'en',
					},
					eventLimit: true, // allow "more" link when too many events
					events: [
						[% FOREACH event IN events %]
							{
								title: '[% event.title %]: [% event.year %] [% event.event %]',
								start: '[% year %]-[% event.month | format('%02d') %]-[% event.day | format('%02d') %]',
								url: '/cgi-bin/page.fcgi?page=people&entry=[% event.person %]'
							},
						[% END %]
					]
				});
			});
		</script>
		<style>
			body {
				margin: 40px 10px;
				padding: 0;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				font-size: 14px;
			}

			#calendar {
				max-width: 1500px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<center>
			<h1>Calendar of [% SiteTitle.Default.join(' ') %]</h1>
			<p>
				[ <a href="?page=home">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="?page=emigrants">Emigrants</a> ] |
				[ <a href="?page=ww1">WW1 Fatalaties</a> ] |
				[ <a href="?page=ww2">WW2 Fatalaties</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</p>
			<div id='calendar'></div>
		</center>

		<!--
		<center>
			[% IF month %]
				<h1>Events in [% month %] [% year %] in [% SiteTitle.Default.join(' ') %]</h1>
			[% ELSE %]
				<h1>Calendar of [% SiteTitle.Default.join(' ') %]</h1>
			[% END %]
			[ <a href="?page=people&amp;home=1">Home</a> ] | [ <a href="?page=censuses">Census Index</a> ] | [ <a href="?page=surnames">Surname Index</a> ] | <a href=?page=history">Family History</a> ]
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
		</center>
		[% IF months %]
			<ul>
				[% index = 1 %]
				[% FOREACH month IN months %]
					<li><a href="?page=calendar&month=[% index %]">[% month %]</a></li>
					[% index = index + 1 %]
				[% END %]
			</ul>
		[% ELSIF events %]
			[% FOREACH day IN events %]
				[% IF day.0 %]
					<h2>[% day.0.day %]</h2>
					<ul>
						[% FOREACH event IN day %]
							<li><a href="?page=people&entry=[% event.person %]">[% event.title %]</a>: [% event.year %] [% event.event %]</li>
						[% END %]
					</ul>
				[% END %]
			[% END %]
		[% END %]
		-->
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
