<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Changes in [% SiteTitle.Default.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="description" content="Changes in [% SiteTitle.Default.join(' ') %] - A Ged2Site webpage">
		<meta name="Copyright" content="Copyright (C) 2025 Nigel Horne">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Changes in [% SiteTitle.Default.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=home">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=censuses">Censuses</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="?page=reports">Reports</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF changes %]
				[% FOREACH days IN changes %]
					<h2>[% days.key %]</h2>
					[% FOREACH changesonthisday IN days.value %]
						<h3>[% changesonthisday.key %]</h3>
						<ul>
						[% FOREACH entry IN changesonthisday.value %]
							<!--
								[% USE Dumper %]
								[% Dumper.dump(entry) %]
							-->
							<li style="margin-left: 10%;">
								<a href="?page=people&amp;entry=[%- entry.record.xref %]">[% entry.person.title %]</a>
								[% IF entry.record.change != 'New person' %]
									: [% entry.record.change %]
								[% END %]
							</li>
						[% END %]
						</ul>
					[% END %]
				[% END %]
			[% ELSE %]
				<p>There are no recent changes to your family tree.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			This website was generated by <a href="//github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
