<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Changes in [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="description" content="Changes in [% SiteTitle.join(' ') %] - A ged2site webpage">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Changes in [% SiteTitle.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=censuses">Censuses</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="?page=reports">Reports</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF changes %]
				[% FOREACH change IN changes %]
					[% IF change.date != date %]
						[% IF date %]
							</ul>
						[% END %]
						[% date = change.date %]
						<h2>[% date %]</h2>
						<ul id="nav">
					[% END %]
					<li>
						<a href="?page=people&amp;entry=[%- change.xref %]">[% change.person.title %]</a>:
							[% change.changes %]
					</li>
				[% END %]
				</ul>
			[% ELSE %]
				<p>There are no recent changes to your family tree.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			This website was generated by <a href="//github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
