<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Emigrants for [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="description" content="Emigrants in [% SiteTitle.join(' ') %] - A Ged2Site webpage">
		<meta name="Copyright" content="Copyright (C) 2025 Nigel Horne">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Emigrants for [% SiteTitle.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=censuses">Censuses</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			<br>
			[% IF emigrants_by_country %]
				<h2>By Country of Death</h2>
				[% FOREACH country IN emigrants_by_country.keys.sort %]
					<h3>[% country %]</h3>
					<ul id="nav">
						[% FOREACH person IN emigrants_by_country.$country %]
							<li>
								<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
								([% person.birth_country %] &rarr; [% person.death_country %])
							</li>
						[% END %]
					</ul>
				[% END %]
			[% END %]
			[% IF emigrants %]
				<h2>By Surname</h2>
				<ul id="nav">
					[% FOREACH person IN emigrants %]
						<li>
							<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
							([% person.birth_country %] &rarr; [% person.death_country %])
						</li>
					[% END %]
				</ul>
				<p>
					This list contains people who were born and died in different countries.
					Usually this is because they emigrated, however it may be that they died overseas in battle.
				</p>
			[% ELSE %]
				<p>No-one in your family emigrated.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			This website was generated by <a href="//github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
