<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Facts for [% SiteTitle.join(' ') %]</title>
		<!--
			<meta http-equiv="Content-Language" content="English">
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Facts for [% SiteTitle.join(' ') %]</h1>
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			<br>
			[% IF facts %]
				<ul>
					[% IF facts.first_birth %]
						<li>
							First person in the tree:
							<a href="?page=people&amp;entry=[%- facts.first_birth.person.entry %]">[% facts.first_birth.person.title %]</a> was born on [% facts.first_birth.date %]
						</li>
					[% END %]
					[% IF facts.oldest_age %]
						<li>
							Person who lived the longest:
							<a href="?page=people&amp;entry=[%- facts.oldest_age.person.entry %]">[% facts.oldest_age.person.title %]</a> who lived for [% facts.oldest_age.years %] years
						</li>
					[% END %]
				</ul>
			[% END %]
		</div>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
