<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Facts for [% SiteTitle.join(' ') %]</title>
		<!--
			<meta http-equiv="Content-Language" content="English">
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
		[% USE Math %]
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Facts for [% SiteTitle.join(' ') %]</h1>
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			<br>
			[% IF facts %]
				<ul>
					<li>
						There are [% facts.count %] people in the tree,
						of which [% facts.sex.M %] are male and [% facts.sex.F %] are female.
						[% IF facts.sex.U %]
							There are also [% facts.sex.U %] people for which the sex is unknown.
						[% END %]
					</li>
					[% IF facts.fathers_side %]
						<li>
							There are [% facts.fathers_side.count %] adults known to have lived to 20 or over on the father's side,
							of which the average (mean) age at death was [% Math.int(facts.fathers_side.age / facts.fathers_side.count) %].
						</li>
					[% END %]
					[% IF facts.mothers_side %]
						<li>
							There are [% facts.mothers_side.count %] adults known to have lived to 20 or over on the mother's side,
							of which the average (mean) age at death was [% Math.int(facts.mothers_side.age / facts.mothers_side.count) %].
						</li>
					[% END %]
					[% IF facts.first_birth %]
						<li>
							First person in the tree:
							<a href="?page=people&amp;entry=[%- facts.first_birth.person.entry %]">[% facts.first_birth.person.title %]</a> was born on [% facts.first_birth.date %]
						</li>
					[% END %]
					[% IF facts.oldest_age %]
						<li>
							Person who lived the longest:
							<a href="?page=people&amp;entry=[%- facts.oldest_age.person.entry %]">[% facts.oldest_age.person.title %]</a> who lived for
							[% facts.oldest_age.years %] years,
							[% facts.oldest_age.months %] months and
							[% facts.oldest_age.days %] days
						</li>
					[% END %]
					[% IF facts.most_children %]
						<li>
							Person with the most children:
							<a href="?page=people&amp;entry=[%- facts.most_children.person.entry %]">[% facts.most_children.person.title %]</a> had [% facts.most_children.count %] children
						</li>
					[% END %]
					[% IF facts.both_sides %]
						<li>
							There
							[% IF facts.both_sides.count == 1 %]
								is 1 person who appears
							[% ELSE %]
								are [% facts.both_sides.count %] people who appear
							[% END %]
							on both the father's and mother's side of the tree:
							<ul>
								[% FOREACH person IN facts.both_sides.people %]
									<li>
										<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
									</li>
								[% END %]
							</ul>
						</li>
					[% END %]
					[% IF facts.family_size %]
						<li>
							The mean family size is [% facts.family_size.mean %] children.
						</li>
					[% END %]
					[% IF facts.youngest_marriage %]
						<li>
							The person who married at the youngest age was
							<a href="?page=people&amp;entry=[%- facts.youngest_marriage.person.entry %]">[% facts.youngest_marriage.person.title %]</a>,
							aged
							[% facts.youngest_age.years %] years,
							[% facts.youngest_age.months %] months and
							[% facts.youngest_age.days %] days
						</li>
					[% END %]
					[% IF facts.oldest_marriage %]
						<li>
							The person who married at the oldest age was
							<a href="?page=people&amp;entry=[%- facts.oldest_marriage.person.entry %]">[% facts.oldest_marriage.person.title %]</a>,
							aged
							[% facts.oldest_age.years %] years,
							[% facts.oldest_age.months %] months and
							[% facts.oldest_age.days %] days
						</li>
					[% END %]
				</ul>
			[% END %]
		</div>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
