<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF graph == 'ageatdeath' %]
			[% SET title = 'Average Age at death against birth year' %]
		[% ELSIF graph == 'birthmonth' %]
			[% SET title = 'Birth Month' %]
		[% ELSE %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Choose a graph' %]
		[% END %]
		<title>[% title %]</title>
		[% IF graph %]
			<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title:{
						text: "[% title %]"
					},
					animationEnabled: true,   // change to false
					data: [              
					{
						// Change type to "bar", "area", "spline", "pie","column"etc.
						type: "line",
						dataPoints: [
							[% datapoints %]
						]
					}
					]
				});
				chart.render();
			}
			</script>
			<!--
			<style type="text/css">
				body {
					font: 10pt sans;
				}
			</style>
			-->
		[% END %]
	</head>

	<body>
		<center>
			[% IF graph == 'ageatdeath' %]
				<!--
					<h1>Age at death against birth date</h1>
				-->
			[% ELSIF graph == 'birthmonth' %]
				<!--
				<h1>Birth month</h1>
				-->
			[% END %]
			[ <a href="?page=people&home=1">Home</a> ] |
			[ <a href="?page=censuses">Census Index</a> ] |
			[ <a href="?page=surnames">Surname Index</a> ] |
			[ <a href="?page=history">Family History</a> ] |
			[ <a href="?page=todo">To Do</a> ] |
			[ <a href="?page=calendar">Calendar</a> ] |
			[ <a href="/visjs.html">Timeline</a> ]
		</center>
		<p>

		[% IF graph == 'ageatdeath' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>
				This graph only includes those who lived past the age of 20.
			</p>
		[% ELSIF graph == 'birthmonth' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		[% ELSE %]
			<div id="container">
				<h2>Choose a Graph</h2>
				<br>
				<ul id="nav">
					<li><a href="?page=graphs&graph=ageatdeath">Average age at death</a></li>
					<li><a href="?page=graphs&graph=birthmonth">Birth month</a></li>
				</ul>
			</div>
		[% END %]
	</body>
</html>
