<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Heritage for [% SiteTitle.Default.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="description" content="Heritage in [% SiteTitle.Default.join(' ') %] - A Ged2Site webpage">
		<meta name="Copyright" content="Copyright (C) 2026 Nigel Horne">
		<meta http-equiv="Content-Language" content="English">
                [% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="[% SiteTitle.Default %]">
                [% END %]
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Heritage for [% SiteTitle.Default.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=emigrants">Emigrants</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=reports">Reports</a> ]
			</center>
			[% IF heritage_by_country %]
				[% FOREACH country IN heritage_by_country.keys.sort %]
					<br>
					<button class="collapsible">[% country %]</button>
					<div class="content">
						<ul id="nav">
							[% FOREACH person IN heritage_by_country.$country %]
								<li>
									<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
									[% person.relationship %]
									[% person.dob %]
								</li>
							[% END %]
						</ul>
					</div>
				[% END %]
				<p>
					This page displays people with blood relationships born in a different country from the home person.
				</p>
			[% ELSE %]
				<p>No heritage found outside the home country.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			This website was generated by <a href="//github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
