<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		[% IF name %]
			<title>Timeline of [% name %]</title>
		[% ELSE %]
			<title>History of [% SiteTitle.join(' ') %]</title>
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/responsive.css">
		<link href='https://fonts.googleapis.com/css?family=Dosis:200, 300, 400,, 500, 600, 700,800' rel='stylesheet' type='text/css'>
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<style>
			body {
				margin: 40px 10px;
				padding: 0;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				font-size: 14px;
				background: #fff;
			}
			.ss-row p {
				background: #e7e7e7;
			}
		</style>
	</head>
	<body class="page">
		<center>
			[% IF name %]
				<h1>Timeline of [% name %]</h1>
			[% ELSE %]
				<h1>History of [% SiteTitle.join(' ') %]</h1>
			[% END %]
			<p>
				[ <a href="?page=home">Home</a> ] |
				[ <a href="?page=people&amp;entry=[%- person.xref %]">Biography</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=emigrants">Emigrants</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</p>
		</center>
		<div id="start" class="timeline container">

		<div class="small-border"></div>
		<div class="big-border"></div>

		<div class="ss-container">
			[% USE day = date(format = '%e %B', locale = lingua.language_code_alpha2) %]
			[% index = 1 %]
			<!-- Sort back in time in the main table, forward in time when just one person -->
			[% IF name %]
				[% years = events.keys.sort %]
			[% ELSE %]
				[% years = events.keys.sort.reverse %]
			[% END %]
			[% FOREACH year IN years %]
				[% IF index % 2 %]
					<div class="ss-row ss-medium">
						<div class="ss-left jaartal module">
							<h3>[% year %]</h3>
							<div class="bolleke ss-l module">
								<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
							</div><!-- ./ss-r -->
						</div><!-- ./ss-left -->
						<div class="ss-right module">
							<p>
								[% FOREACH event IN events.$year %]
									[% IF $event.day && $event.month %]
										[% day.format("0:0:0 $event.day:$event.month:$year") %]
									[% END %]
									<a href="?page=people&amp;entry=[% event.xref %]">[% event.title %]</a>:
									[% event.event %]
									<br>
								[% END %]
							</p>
						</div><!-- ./ss-right -->
					</div><!-- ./ss-row -->
				[% ELSE %]
					<div class="ss-row">
						<div class="ss-left module">
							<p>
								[% FOREACH event IN events.$year %]
									[% IF $event.day && $event.month %]
										[% day.format("0:0:0 $event.day:$event.month:$year") %]
									[% END %]
									<a href="?page=people&amp;entry=[% event.xref %]">[% event.title %]</a>:
									[% event.event %]
									<br>
								[% END %]
							</p>
						</div><!-- ./ss-left -->
						<div class="ss-right jaartal module">
							<h3>[% year %]</h3>
							<div class="bolleke ss-r module">
								<img src="/images/bol.svg" alt="jaartal indicator" height="50" width="50">
							</div><!-- ./ss-r -->
						</div><!-- ./ss-right -->
					</div><!-- ./ss-row -->
				[% END %]
				[% index = index + 1 %]
			[% END %]
		</div><!-- ./ss-container -->

		<div class="clearfix"></div>

		<div class="big-border"></div>
		<div class="small-border"></div>

		<h2 class="module">End</h2>
	</div><!-- ./timeline -->
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/js/modernizr.js"></script>
		<script src="/js/parallax.min.js"></script>
		<script src="/js/custom.js"></script>
	</body>
</html>
