<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF year %]
			<title>Map for [% year %] in [% SiteTitle.join(' ') %]</title>
		[% ELSE %]
			<title>Maps for [% SiteTitle.join(' ') %]</title>
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		[% IF head %]
			[% head %]
		[% END %]
	</head>
	[% IF head %]
		<body onload="html_googlemaps_initialize()">
	[% ELSE %]
		<body>
	[% END %]
		<div id="header_container">
			<center>
				[% IF year %]
					<h1>Map for [% year %] in [% SiteTitle.join(' ') %]</h1>
				[% ELSE %]
					<h1>Maps for [% SiteTitle.join(' ') %]</h1>
				[% END %]
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&home=1">Home</a> ] |
				[% IF people %]
					[ <a href="?page=censuses">Census Index</a> ] |
				[% END %]
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=calendar">Calendar</a> ]
			</center>
			<br>
			[% IF year %]
				<!--
					[% USE Dumper %]
					[% Dumper.dump(locations) %]
				-->
				[% locations.0.body %]
			[% ELSE %]
				<ul id="nav">
					<!-- ged2site sorts them numerically -->
					[% FOREACH map IN locations.0.maps.map %]
						<li>
							<a href="?page=locations&year=[%- map.year %]">[% year %]</a>
						</li>
					[% END %]
				</ul>
			[% END %]
		</div>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
