<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF entry %]
			<title>Map for [% entry %] in [% SiteTitle.Default.join(' ') %]</title>
		[% ELSE %]
			<title>Maps for [% SiteTitle.Default.join(' ') %]</title>
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		[% IF head %]
			[% head %]
		[% END %]
	</head>
	[% IF head %]
		<body onload="html_googlemaps_initialize()">
	[% ELSE %]
		<body>
	[% END %]
		<div id="header_container">
			<center>
				[% IF entry %]
					<h1>Map for [% entry %] in [% SiteTitle.Default.join(' ') %]</h1>
				[% ELSE %]
					<h1>Maps for [% SiteTitle.Default.join(' ') %]</h1>
				[% END %]
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=home">Home</a> ] |
				[ <a href="?page=people&amp;home=1">Home Person</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[% IF entry %]
					[ <a href="?page=locations">Locations by Year</a> ] |
				[% ELSE %]
					[ <a href="?page=reports">Reports</a> ] |
				[% END %]
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF locations %]
				<p>This page shows residence locations by year, e.g. from censuses.</p>
				[% IF entry %]
					<!--
						[% USE Dumper %]
						[% Dumper.dump(locations) %]
					-->
					[% locations.0.body %]
				[% ELSE %]
					<ul id="nav">
						<!-- Ged2Site sorts them numerically -->
						[% FOREACH map IN locations.0.maps.map %]
							<li>
								<a href="?page=locations&amp;entry=[%- map.entry %]">[% map.entry %]</a>
							</li>
						[% END %]
					</ul>
				[% END %]
			[% ELSE %]
				<p>
					This page would show residence locations by year,
					however there are none on this tree.
				</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
