<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		[% IF action == 'sent' %]
			<title>E-mail sent</title>
		[% ELSE %]
			<title>Send an e-mail to [% name.ucfirst %]</title>
		[% END %]
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<style>
			label {
				display: inline-block;
				width: 10em
			}
			textarea {
				vertical-align: middle
			}
		</style>
	</head>
	<body>
		[% IF error %]
			<p><center><font color="red" size="+2">[% error %]</font></center></p>
		[% END %]

		<div id="container">
			[% IF action == 'sent' %]
				<h1>E-mail sent</h1>
				<p>Your e-mail has sent to [% name.ucfirst %]</p>
				<a href="/index.htm" class="myButton">Continue</a>
			[% ELSE %]
			<div id="container">
				<h2>Send an e-mail to [% name.ucfirst %]</h2>
				<form method="post" action="#">
					<input name="action" value="send" type="hidden">
					<label for="yname">Your Name</label>
					<input name="yname" id="yname" type="text" value="[%- yname %]">
					<br>
					<br>
					<label for="yemail">Your E-Mail Address</label>
					<input name="yemail" id="yemail" type="email" value="[%- yemail %]">
					<br>
					<br>
					<label for="message">Message</label>
					[% IF message %]
						<textarea name="message" id="message" rows="4" value="[%- message %]"></textarea>
					[% ELSE %]
						<textarea name="message" id="message" rows="4"></textarea>
					[% END %]
					<br>
					<br>
					<!-- <ul class="actions">
						<li><input value="Send Message" type="submit"></li>
					</ul> -->
					<center>
					<button type="submit" class="myButton" value="submit">
						Send E-mail
					</button>
					</center>
				</form>
			</div>
			[% END %]
		</div>
	</body>
</html>
