<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		[% IF action == 'sent' %]
			<title>E-mail sent</title>
		[% ELSE %]
			<title>Send an e-mail to [% name.ucfirst %]</title>
		[% END %]
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta http-equiv="Content-Language" content="English">
		<style>
			label {
				display: inline-block;
				width: 10em
			}
			textarea {
				vertical-align: middle
			}
		</style>
	</head>
	<body>
		<div id="header_container">
			<center>
				[% IF action == 'sent' %]
					<h1>E-mail sent</h1>
				[% ELSE %]
					<h1>Send an e-mail to [% contact.name.ucfirst %]</h1>
				[% END %]
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>

		<div id="container">
			<div class="non-printable">
				<center>
					[ <a href="?page=people&home=1">Home</a> ] |
					[ <a href="?page=censuses">Census Index</a> ] |
					[ <a href="?page=surnames">Surname Index</a> ] |
					[ <a href="?page=history">Family History</a> ] |
					[ <a href="?page=calendar">Calendar</a> ] |
					[ <a href="?page=graphs">Analytics</a> ] |
					[ <a href="?page=reports">Reports</a> ] |
					[ <a href="/visjs.html">Timeline</a> ]
				</center>
			</div>
			[% IF action == 'sent' %]
				<p>Your e-mail has been sent to [% name.ucfirst %]</p>
				<a href="/index.htm" class="myButton">Continue</a>
			[% ELSE %]
				<div id="container">
					<form method="post" action="#">
						<input name="action" value="send" type="hidden">
						<input name="page" value="mailto" type="hidden">
						<label for="yname">Your Name</label>
						<input name="yname" id="yname" type="text" value="[%- yname %]">
						<br>
						<br>
						<label for="yemail">Your E-Mail Address</label>
						<input name="yemail" id="yemail" type="email" value="[%- yemail %]">
						<br>
						<br>
						<label for="subject">Subject</label>
						<input name="subject" id="subject" type="text" value="[%- subject %]">
						<br>
						<br>
						<label for="message">Message</label>
						[% IF message %]
							<textarea name="message" id="message" rows="4" value="[%- message %]"></textarea>
						[% ELSE %]
							<textarea name="message" id="message" rows="4"></textarea>
						[% END %]
						<br>
						<br>
						<!-- <ul class="actions">
							<li><input value="Send Message" type="submit"></li>
						</ul> -->
						<center>
							<button type="submit" class="myButton" value="submit">
								Send E-mail
							</button>
						</center>
					</form>
				</div>
			[% END %]
			<p align="right">
				<i>
				This website was generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
				[% IF updated %]
					[% USE date %]
					Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
				[% END %]
				</i>
			</p>
		</div>
	</body>
</html>
