<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF person %]
			<title>[% person.title %]</title>
		[% ELSE %]
			<title>[% SiteTitle.join(' ') %]</title>
			<script language="JavaScript">
				<!--HIDE
				function time() {
					setTimeout("window.location.replace('page.fcgi?page=people&home=1')", 100)
				}
				//STOP HIDING-->
			</script>
			<meta http-equiv="Refresh" content="1;URL=page.fcgi?page=people&home=1">
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		[% IF person.map_head %]
			[% decode_base64url(person.map_head) %]
		[% END %]
		<!--
			<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
	</head>
	[% IF person.map_body %]
		<body onload="html_googlemaps_initialize()">
	[% ELSE %]
		<body>
	[% END %]
		[% IF person %]
			<div id="header_container">
				<center>
					<h1>[% person.title %]</h1>
					[% IF error %]
						<p><font color="red" size="+2">[% error %]</font></p>
					[% END %]
				</center>
			</div>
			<div id="container">
				<div class="non-printable">
					</center>
						[% UNLESS home %]
							[ <a href="?page=people&home=1">Home</a> ] |
						[% END %]
						[ <a href="?page=censuses">Census Index</a> ] |
						[ <a href="?page=surnames">Surname Index</a> ] |
						[ <a href="?page=history">Family History</a> ] |
						[ <a href="?page=todo">To Do</a> ] |
						[ <a href="?page=calendar">Calendar</a> ]
					</center>
					<div class="social_media">
						<!--
						<table><tr>
							[% IF social_media.twitter_tweet_button %]
								<th>[% social_media.twitter_tweet_button %]</th>
							[% END %]
							<th>[% social_media.facebook_share_button %]</th>
							<th>[% social_media.google_plusone %]</th>
							<th><a href="#" onclick="window.print(); return false;">
								<img src="/images/printer.png" alt="Print Button" height="32" width="32">
							</a></th>
						</tr></table>
						-->
						[% IF social_media.twitter_tweet_button %]
							[% social_media.twitter_tweet_button %]
						[% END %]
						[% social_media.facebook_share_button %]
						<br>
						[% social_media.google_plusone %]
						<br>
						<a href="#" onclick="window.print(); return false;">
							<img src="/images/printer.png" alt="Print Button" height="32" width="32">
						</a>
					</div>
				</div>
				<div class="printable">
					<p>[% person.bio %]</p>
				</div>
				[% IF person.father || person.mother %]
					<div class="non-printable">
						<h2>Parents</h2>
						<ol>
						[% IF person.father %]
							<li>[% person.father %]</li>
						[% END %]
						[% IF person.mother %]
							<li>[% person.mother %]</li>
						[% END %]
						</ol>
					</div>
				[% END %]
				[% IF person.children %]
					<div class="non-printable">
						<h2>Children</h2>
						<ol>
							[% FOREACH child IN person.children.split('----') %]
								<li>[% child %]</li>
							[% END %]
						</ol>
					</div>
				[% END %]
				[% IF person.notes %]
					<h2>Notes</h2>
					<div class="printable">
						[% FOREACH note IN person.notes.split('----') %]
							<p>[% note %]</p>
						[% END %]
					</div>
				[% END %]
				[% IF person.media %]
					<h2>Media</h2>
					[% FOREACH object IN person.media.split('----') %]
						<p>
							[% IF object.split('---').2 %]
								<a href="[% object.split('---').0 %]" target="_blank">
									<img src="[% object.split('---').0 %]" alt="[% object.split('---').1 %]"
										width="175"
										height="[% object.split('---').2 %]"
									>
								</a>
							[% ELSE %]
								<a href="[% object.split('---').0 %]" target="_blank">[% object.split('---').0 %]</a>
							[% END %]
						<p>
					[% END %]
				[% END %]
				[% IF person.family_tree %]
					<h2>Family Tree</h2>
					<img src="[% person.family_tree.split('---').0 %]" [% person.family_tree.split('---').1 %] usemap="#family" alt="Family Tree">
					[% person.family_tree.split('---').2 %]
				[% END %]
				[% IF person.map_body %]
					<div class="non-printable">
						<h2>Map</h2>
						[% decode_base64url(person.map_body) %]
					</div>
				[% END %]
				[% IF person.citations %]
					<div class="printable">
						<h2>Citations</h2>
						<ol>
							[% FOREACH citation IN person.citations.split('----') %]
								<li>[% citation %]</li>
							[% END %]
						</ol>
					</div>
				[% END %]
				[% IF person.warnings %]
					<div class="printable">
						<h2>To be done</h2>
						[% person.warnings %]
					</div>
				[% END %]
			</div>
		[% ELSE %]
			<h1>[% SiteTitle.join(' ') %]</h1>
			Loading, please wait
		[% END %]
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
