<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		[% IF surname %]
			<title>Entries for the surname [% surname.0.surname %] in [% SiteTitle.join(' ') %]</title>
		[% ELSE %]
			<title>Surnames for [% SiteTitle.join(' ') %]</title>
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<style>
			body {
				margin: 40px 10px;
				padding: 0;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				font-size: 14px
			}
			dt {
				font-size: 125%;
				margin-top: 15px
			}
		</style>
	</head>
	<body>
		<center>
			[% IF surname %]
				<h1>Entries for the surname [% surname.0.surname %] in [% SiteTitle.join(' ') %]</h1>
			[% ELSE %]
				<h1>Surnames for [% SiteTitle.join(' ') %]</h1>
			[% END %]
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			[ <a href="?page=people&home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=calendar">Calendar</a> ]
		</center>
		[% IF surnames %]
			<dl>
				[% FOREACH surname IN surnames %]
					[% IF surname.substr(0,1) != initial %]
						[% IF initial %]
							</dd>
						[% END %]
						[% IF surname == 'UNKNOWN' %]
							[% initial = '?' %]
						[% ELSE %]
							[% initial = surname.substr(0,1) %]
						[% END %]
						<dt>[% initial %]</dt><dd>
					[% END %]
					<a href="?page=surnames&surname=[%- surname | uri -%]">[% surname %]</a>
				[% END %]
			</dd></dl>
		[% ELSIF people %]
			<ul>
				[% FOREACH person IN people %]
					<li>
						<a href="?page=people&entry=[%- person.entry %]">[% person.title %]</a>
					</li>
				[% END %]
			</ul>
		[% END %]
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
