<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		[% IF surname %]
			<title>Entries for the Surname [% surname %] in [% SiteTitle.join(' ') %]</title>
			<meta name="description" content="A list of people with the surname [% surname %] on [% SiteTitle.join(' ') %] - A ged2site webpage">
		[% ELSE %]
			<title>Surnames for [% SiteTitle.join(' ') %]</title>
			<meta name="description" content="Surnames in [% SiteTitle.join(' ') %] - A ged2site webpage">
		[% END %]
		<meta http-equiv="Content-Language" content="English">
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="[% SiteTitle %]">
		[% END %]
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		<style>
			dl {
				margin: 80px 0 auto;
				width: 75%
			}
			dt {
				font-size: 125%;
				margin-top: 15px
			}
			dd {
				word-spacing: 0.5em
			}
		</style>
		-->
	</head>
	<body>
		<div id="header_container">
			<center>
				[% IF surname %]
					<h1>Entries for the Surname [% surname %] in [% SiteTitle.join(' ') %]</h1>
				[% ELSE %]
					<h1>Surnames for [% SiteTitle.join(' ') %]</h1>
				[% END %]
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=home">Home</a> ] |
				[ <a href="?page=people&amp;home=1">Home Person</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[% IF surname %]
					[ <a href="?page=surnames">Surname Index</a> ] |
				[% END %]
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=reports">Reports</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF surnames %]
				[% FOREACH surname IN surnames %]
					[% IF surname.surname.substr(0,1) != initial %]
						[% IF initial %]
							</ul>
							</div>
						[% END %]
						[% IF surname.surname == 'UNKNOWN' %]
							[% initial = '?' %]
						[% ELSE %]
							<!-- FIXME:
								if it starts with an entity,
								initial will be set to '&'
							-->
							[% initial = surname.surname.substr(0,1) %]
						[% END %]
						<br>
						<button class="collapsible">[% initial %]</button>
						<div class="content">
						<ul id="nav">
					[% END %]
					<li>
						<a href="?page=surnames&amp;surname=[%- surname.surname | uri -%]">[% surname.surname %]</a>
					</li>
				[% END %]
				</div>
			[% ELSIF people %]
				<br>
				<ul id="nav">
					[% FOREACH person IN people %]
						<li>
							<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
						</li>
					[% END %]
				</ul>
			[% END %]
		</div>
		<p align="right">
			<i>
			Generated by <a href="//github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
		<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->
			<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;

			for (i = 0; i < coll.length; i++) {
			  coll[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var content = this.nextElementSibling;
			    if (content.style.maxHeight){
			      content.style.maxHeight = null;
			    } else {
			      content.style.maxHeight = content.scrollHeight + "px";
			    }
			  });
			}
		</script>
	</body>
</html>
