<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta http-equiv="Content-Language" content="en">
		<meta name="robots" content="INDEX,FOLLOW">
		<meta name="language" content="ENGLISH">
		<meta name="object" content="Index">
		<meta name="owner" content="Nigel Horne">
		<meta name="Author" content="Nigel Horne">
		<title>WW1 Fatalities for [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="Copyright" content="Copyright (C) 2025 Nigel Horne, all rights reserved">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>WW1 Fatalities for [% SiteTitle.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&amp;home=1">Home</a> ] |
				[ <a href="?page=censuses">Census Index</a> ] |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=censuses">Censuses</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="?page=reports">Reports</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
			[% IF wardead %]
				<br>
				<ul id="nav">
					[% FOREACH person IN wardead %]
						<li>
							<a href="?page=people&amp;entry=[%- person.entry %]">[% person.title %]</a>
						</li>
					[% END %]
				</ul>
				<p>
					This page shows those people who died in Europe during the First World War.
					Currently it does not include those in the Navy who died at sea.
				</p>
			[% ELSE %]
				<p>No-one in your family died in the First World War.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			Generated by <a href="https://github.com/nigelhorne/ged2site">Ged2Site</a>.
			[% IF updated %]
				[% USE date %]
				Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
