<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta http-equiv="Content-Language" content="en">
		<meta name="robots" content="INDEX,FOLLOW">
		<meta name="language" content="ENGLISH">
		<meta name="object" content="Index">
		<meta name="owner" content="Nigel Horne">
		<meta name="Author" content="Nigel Horne">
		<meta name="description" content="[% SiteTitle.join(' ') %] [% title %] - A ged2site webpage">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
		[% IF graph == 'ageatdeath' %]
			[% SET title = 'Adult Life Expectancy' %]
		[% ELSIF graph == 'birthmonth' %]
			[% SET title = 'Mois de Naissance' %]
		[% ELSIF graph == 'marriagemonth' %]
			[% SET title = 'Mois de Marriage' %]
		[% ELSIF graph == 'deathmonth' %]
			[% SET title = 'Mois de Death' %]
		[% ELSIF graph == 'ageatmarriage' %]
			[% SET title = 'Moyen &Acirc;ge &aacute; Premi&egrave;re Mariage' %]
		[% ELSIF graph == 'infantdeaths' %]
			[% SET title = 'Infant Deaths' %]
		[% ELSIF graph == 'firstborn' %]
			[% SET title = 'Months between marriage and first born' %]
		[% ELSIF graph == 'sex' %]
			[% SET title = 'Sex of people born in each year' %]
		[% ELSIF graph == 'ageatfirstchild' %]
			[% SET title = '&Acirc;ge de Parents at Birth of First Child' %]
		[% ELSIF graph == 'ageatlastchild' %]
			[% SET title = '&Acirc;ge de Parents at Birth of Last Child' %]
		[% ELSIF graph == 'dist' %]
			[% SET title = 'Moyen distance entre les lieux du n&eacute;ssance et mort' %]
		[% ELSIF graph == 'distcount' %]
			[% SET title = 'Distance between places of birth and death' %]
		[% ELSIF graph == 'familysizetime' %]
			[% SET title = 'How Family Size Changes over Time' %]
		[% ELSIF graph == 'motherchildren' %]
			[% SET title = 'Nombre des enfants par femmes' %]
		[% ELSIF graph == 'percentagedying' %]
			[% SET title = 'Percentage of people alive who died' %]
		[% ELSIF graph == 'name_date' %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'First Name Popularity' %]
		[% ELSIF graph == 'surname_date' %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Surname Popularity' %]
		[% ELSIF graph == 'birth_countries' %]
			[% SET title = 'Country of Birth' %]
		[% ELSE %]
			<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
			[% SET title = 'Choisisez un graph' %]
		[% END %]
		<title>[% title %]</title>
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="[% SiteTitle %]">
		[% END %]
		<!--
			<meta http-equiv="Content-Language" content="English">
		-->
		<style type="text/css">
			/* Two columns */
			.column {
				float: left;
				width: 50%;
			}

			/* Clear floats after the columns */
			.row:after {
				content: "";
				display: table;
				clear: both;
			}
		</style>
		[% IF datapoints.M %]
			<script src="//cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
			<script type="text/javascript">

			window.onload = function () {
				var chartM = new CanvasJS.Chart("chartContainerM", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %] (Men)"
					},
					zoomEnabled: false,
					axisY: {
						[% IF graph == 'ageatdeath' %]
							includeZero: false,
							title: '&Acirc;ge at Death',
						[% ELSIF graph == 'percentagedying' %]
							title: 'Percentage',
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'ageatdeath' %]
						axisX: {
							title: 'Year of Death'
						},
					[% END %]
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							type: "line",
							showInLegend: true,
							[% IF graph == 'ageatdeath' %]
								name: "Values",
							[% END %]
							color: "#F08080",
							dataPoints: [
								[% datapoints.M %]
							]
						},
						[% IF bestfit.M %]
							{
								// Change type to "bar", "area", "spline", "pie","column" etc.
								type: "line",
								[% IF graph == 'ageatdeath' %]
									lineDashType: "dash",
									connectNullData: true,
									nullDataLineDashType: "dot",
									name: "Trend",
								[% END %]
								showInLegend: true,
								color: "#20B2AA",
								dataPoints: [
									[% bestfit.M %]
								]
							},
						[% END %]
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chartM.render();
						}
					}
				});
				var chartF = new CanvasJS.Chart("chartContainerF", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %] (Women)"
					},
					zoomEnabled: false,
					axisY: {
						[% IF graph == 'ageatdeath' %]
							includeZero: false,
							title: '&Acirc;ge at Death',
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'ageatdeath' %]
						axisX: {
							title: 'Year of Death'
						},
					[% END %]
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							type: "line",
							showInLegend: true,
							[% IF graph == 'ageatdeath' %]
								name: "Values",
							[% END %]
							color: "#F08080",
							dataPoints: [
								[% datapoints.F %]
							]
						},
						[% IF bestfit.F %]
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							type: "line",
							[% IF graph == 'ageatdeath' %]
								lineDashType: "dash",
								connectNullData: true,
								nullDataLineDashType: "dot",
								name: "Trend",
							[% END %]
							showInLegend: true,
							color: "#20B2AA",
							dataPoints: [
								[% bestfit.F %]
							]
						},
						[% END %]
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chartF.render();
						}
					}
				});
				chartM.render();
				chartF.render();
			}
			</script>
		[% ELSIF datapoints %]
			<script src="//cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title:{
						text: "[% title %]"
					},
					axisY: {
						[% IF graph == 'dist' %]
							title: '[% units %]',
						[% ELSIF graph == 'familysizetime' %]
							title: "Nombre des enfants",
						[% ELSIF graph == 'motherchildren' %]
							title: "Nombre des mères",
							includeZero: false,
						[% ELSIF graph == 'infantdeaths' %]
							title: 'Percentage',
						[% ELSIF graph == 'distcount' %]
							title: "Nombres des gens",
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'firstborn' %]
						axisX: {
							title: "Months",
							interval: 6,
							intervalType: "mois"
						},
						zoomEnabled: true,
					[% ELSIF graph == 'dist' %]
						zoomEnabled: true,
					[% ELSIF graph == 'distcount' %]
						zoomEnabled: true,
						axisX: {
							title: '[% units %]'
						},
					[% ELSIF graph == 'motherchildren' %]
						axisX: {
							title: "Nombre des enfants",
						},
					[% END %]
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column" etc.
							[% IF graph == 'birthmonth' || graph == 'marriagemonth' || graph == 'deathmonth' || graph == 'firstborn' || graph == 'motherchildren' %]
								type: "column",
							[% ELSE %]
								type: "line",
							[% END %]
							dataPoints: [
								[% datapoints %]
							]
						}
					]
				});
				chart.render();
			}
			</script>
		[% ELSIF mdatapoints && fdatapoints %]
			<script src="//cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
			<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "theme1",	//theme2
					title: {
						text: "[% title %]"
					},
					[% IF graph == 'sex' %]
						zoomEnabled: true,
					[% END %]
					axisY: {
						[% IF graph == 'sex' %]
							title: 'Percentage',
							minimum: 0,
							maximum: 100,
						[% END %]
						gridThickness: 0
					},
					[% IF graph == 'ageatmarriage' %]
					axisX: {
						title: 'Year of Marriage'
					},
					[% END %]
					toolTip: {
						shared:true
					},
					legend: {
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					animationEnabled: true,	// change to false
					data: [
						{
							// Change type to "bar", "area", "spline", "pie","column"etc.
							type: "line",
							showInLegend: true,
							name: "Male",
							color: "#F08080",
							dataPoints: [
								[% mdatapoints %]
							]
						}, {
							// Change type to "bar", "area", "spline", "pie","column"etc.
							type: "line",
							name: "Female",
							showInLegend: true,
							color: "#20B2AA",
							dataPoints: [
								[% fdatapoints %]
							]
						},
					],
					legend: {
						cursor: "pointer",
						itemclick:function(e){
							if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
								e.dataSeries.visible = false;
							} else{
								e.dataSeries.visible = true;
							}
							chart.render();
						}
					}
				});
				chart.render();
			}
			</script>
		[% END %]
		<!--
		<style type="text/css">
			body {
				font: 10pt sans;
			}
		</style>
		-->
	</head>

	<body>
		[% UNLESS name_date || surname_date %]
			<center>
				[ <a href="?page=home">Accueil</a> ] |
				[ <a href="?page=censuses">Index des Recensements</a> |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=todo">To Do</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[% IF graph %]
					[ <a href="?page=graphs">Analytics</a> ] |
				[% END %]
				[ <a href="?page=emmigrants">Emigr&eacute;s</a> ] |
				[ <a href="/visjs.html">L'axe Chronologique</a> ]
			</center>
			[% IF error %]
				<p><font color="red" size="+2">[% error %]</font></p>
			[% END %]
			<p>
		[% END %]

		[% IF graph == 'ageatdeath' %]
			<p>
				These graphs of average (mean) age at death against year of death starting at 1840
				only includes those who lived past the age of 20.
			</p>
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
			<h2>Sample Sizes</h2>
			<div class="row">
				<div class="column">
					<i>Men</i>
					<ul>
						[% FOREACH sample IN samples.M %]
							<li>[% sample.bucket %]: [% sample.size %]</li>
						[% END %]
					</ul>
				</div>
				<div class="column">
					<i>Women</i>
					<ul>
						[% FOREACH sample IN samples.F %]
							<li>[% sample.bucket %]: [% sample.size %]</li>
						[% END %]
					</ul>
				</div>
			</div>
		[% ELSIF graph == 'birthmonth' || graph == 'marriagemonth' || graph == 'deathmonth' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		[% ELSIF graph == 'distcount' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'motherchildren' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>
				This graph depends a lot on all children being recorded.
				To make that more likely, mothers born before 1820 are not included.
			</p>
		[% ELSIF graph == 'ageatmarriage' %]
			<div id="chartContainer" style="height: 400px; width: 100%;"></div>
			<p>If the data size is not large, anomolies can appear.</p>
		[% ELSIF graph == 'familysizetime' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>
				The time period is set by the 5 year period of the birth of the first child.
				Only 5 year periods that contain at least 5 families are shown.
			</p>
		[% ELSIF graph == 'infantdeaths' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph shows percentage of those born who died aged 5 or younger.</p>
		[% ELSIF graph == 'sex' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data from 5 year periods that contain at least 25 births.</p>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'firstborn' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data when the exact date of marriage and births are known.</p>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'dist' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data from 5 year periods that contain at least 10 births.</p>
			<p>People who moved much further away than most (tels l&eacute;migrants emigrants) are not included so that the graph more reflects the norm.</p>
			<p>Select an area to zoom in.</p>
		[% ELSIF graph == 'ageatfirstchild' || graph == 'ageatlastchild' %]
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<p>This graph only includes data when the year of births of parents and children are known.</p>
			<p>This graph only includes data from 5 year periods that contain at least 5 births.</p>
		[% ELSIF graph == 'percentagedying' %]
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
			<p>
				If the percentage dying looks very large, probably the number of births is low in the tree,
				so more births should be added to the tree.
			</p>
			<p>
				People with no death information born after 1920 are assumed to be alive, those born before 1920
				are assuming to be missing a death record.
				These differences could cause anomolies.
			</p>
		[% ELSIF graph == 'birth_countries' %]
			<p>
				Shows the countries of birth on both sides of the family of all adults in the tree.
			<p>
			<div id="chartContainerM" style="height: 300px; width: 100%;"></div>
			<div id="chartContainerF" style="height: 300px; width: 100%;"></div>
		[% ELSIF name_date %]
			<div id="header_container">
				<center>
					<h1>First Name Popularity</h1>
				</center>
			</div>
			<div id="container">
				<center>
					[ <a href="?page=people&amp;home=1">Accueil</a> ] |
					[ <a href="?page=censuses">Census Index</a> ] |
					[ <a href="?page=surnames">Surname Index</a> ] |
					[ <a href="?page=history">Family History</a> ] |
					[ <a href="?page=todo">To Do</a> ] |
					[ <a href="?page=calendar">Calendar</a> ] |
					[% IF graph %]
						[ <a href="?page=graphs">Analytics</a> ] |
					[% END %]
					[ <a href="?page=emmigrants">Emigrants</a> ] |
					[ <a href="/visjs.html">Timeline</a> ]
				</center>
				[% FOREACH year IN name_date %]
					<h2>[% year.year * 25 %]</h2>
					[% year.data %]
				[% END %]
			</div>
		[% ELSIF surname_date %]
			<div id="header_container">
				<center>
					<h1>Surname Popularity</h1>
				</center>
			</div>
			<div id="container">
				<center>
					[ <a href="?page=people&amp;home=1">Accueil</a> ] |
					[ <a href="?page=censuses">Census Index</a> ] |
					[ <a href="?page=surnames">Surname Index</a> ] |
					[ <a href="?page=history">Family History</a> ] |
					[ <a href="?page=todo">To Do</a> ] |
					[ <a href="?page=calendar">Calendar</a> ] |
					[% IF graph %]
						[ <a href="?page=graphs">Analytics</a> ] |
					[% END %]
					[ <a href="?page=emmigrants">Emigrants</a> ] |
					[ <a href="/visjs.html">Timeline</a> ]
				</center>
				[% FOREACH year IN surname_date %]
					<h2>[% year.year * 25 %]</h2>
					[% year.data %]
				[% END %]
			</div>
		[% ELSE %]
			<div id="container">
				<h2>Choisissez un Graph</h2>
				<br>
				<ul id="nav">
					<li><a href="?page=graphs&amp;graph=birthmonth">Mois de naissance</a></li>
					<li><a href="?page=graphs&amp;graph=marriagemonth">Mois de marriage</a></li>
					<li><a href="?page=graphs&amp;graph=deathmonth">Mois de death</a></li>
					<li><a href="?page=graphs&amp;graph=infantdeaths">Infant deaths</a></li>
					<li><a href="?page=graphs&amp;graph=ageatmarriage">Moyen &Acirc;ge &aacute; Premi&egrave;re Mariage</a></li>
					<li><a href="?page=graphs&amp;graph=ageatdeath">Le moyen &acirc;ge &agrave; la morth</a></li>
					<li><a href="?page=graphs&amp;graph=firstborn">Mois de marriage before first child</a></li>
					<li><a href="?page=graphs&amp;graph=sex">Sex of people born in each year</a></li>
					<li><a href="?page=graphs&amp;graph=dist">Moyen distance entre les lieux du n&eacute;ssance et mort</a></li>
					<li><a href="?page=graphs&amp;graph=distcount">Distance count</a></li>
					<li><a href="?page=graphs&amp;graph=ageatfirstchild">&Acirc;ge of parents at birth of first child</a></li>
					<li><a href="?page=graphs&amp;graph=ageatlastchild">&Acirc;ge de parents at birth of last child</a></li>
					<li><a href="?page=graphs&amp;graph=familysizetime">How family size changes over time</a></li>
					<li><a href="?page=graphs&amp;graph=motherchildren">Nombre des enfants par femmes</a></li>
					<li><a href="?page=graphs&amp;graph=percentagedying">Percentage of the people dying</a></li>
					<li><a href="?page=graphs&amp;graph=name_date">First Name Popularity</a></li>
					<li><a href="?page=graphs&amp;graph=surname_date">Surname Popularity</a></li>
				</ul>
			</div>
		[% END %]

		<p align="right">
			<i>
			Cette site web a &eacute;t&eacute; cr&eacute;&eacute; par <a href="//github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Derni&egrave;re modification le [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
