<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Reports for [% SiteTitle.join(' ') %]</title>
		<!--
			<meta http-equiv="Content-Language" content="English">
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="Copyright" content="Copyright (C) 2024 Nigel Horne">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Reports for [% SiteTitle.join(' ') %]</h1>
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=home">Accueil</a> ] |
				[ <a href="?page=censuses">Index des Recensements</a> |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="/visjs.html">Timeline</a> ]
			</center>
		<br>
		<ul id="nav">
			<li><a href="?page=graphs">Analytics</a></li>
			<li><a href="?page=locations">Locations by Year</a></li>
			<li><a href="?page=emigrants">Emigrants</a></li>
			<li><a href="?page=facts">Facts</a></li>
			<li><a href="?page=intermarriages">Intermarriages</a></li>
			<li><a href="?page=orphans">Orphans</a></li>
			<li><a href="?page=twins">Jumeaux</a></li>
			<li><a href="?page=military">Military Service</a></li>
			<li><a href="?page=changes">Recent Changes</a></li>
			<li><a href="?page=todo">To Do</a></li>
			<li><a href="?page=ww1">WW1 Fatalaties</a></li>
			<li><a href="?page=ww2">WW2 Fatalaties</a></li>
		</ul>
		</div>
		<p align="right">
			<i>
				Generated by <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
				[% IF updated %]
					[% USE date %]
					Derni&egrave;re modification le [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
				[% END %]
			</i>
		</p>
	</body>
</html>
