<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Jumeau dans [% SiteTitle.join(' ') %]</title>
		<meta http-equiv="Content-Language" content="English">
		<!--
		<meta name="msvalidate.01" content="deadbeef" />
		-->
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<meta name="description" content="Jumeau dans [% SiteTitle.join(' ') %] - A ged2site webpage">
	</head>
	<body>
		<div id="header_container">
			<center>
				<h1>Jumeau dans [% SiteTitle.join(' ') %]</h1>
				[% IF error %]
					<p><font color="red" size="+2">[% error %]</font></p>
				[% END %]
			</center>
		</div>
		<div id="container">
			<center>
				[ <a href="?page=people&home=1">Accueil</a> ] |
				[ <a href="?page=censuses">Index des Recensements</a> |
				[ <a href="?page=surnames">Surname Index</a> ] |
				[ <a href="?page=history">Family History</a> ] |
				[ <a href="?page=calendar">Calendar</a> ] |
				[ <a href="?page=censuses">Censuses</a> ] |
				[ <a href="?page=graphs">Analytics</a> ] |
				[ <a href="?page=reports">Reports</a> ] |
				[ <a href="/visjs.html">L'axe Chronologique</a> ]
			</center>
			[% IF twins %]
				<br>
				<ul id="nav">
					[% FOREACH twin IN twins %]
						<li>
							<p>
								<a href="?page=people&entry=[%- twin.left.entry %]">[% twin.left.title %]</a>
								<a href="?page=people&entry=[%- twin.right.entry %]">[% twin.right.title %]</a>
							<p>
						</li>
					[% END %]
				</ul>
				<p>
					This page lists twins, where both twins have died.
					Triplets, and higher order, are not yet supported.
				</p>
			[% ELSE %]
				<p>Il n'est pas de jumeau dans votre arbre de famille.</p>
			[% END %]
		</div>
		<p align="right">
			<i>
			Cette site web a &eacute;t&eacute; cr&eacute;&eacute; par <a href="https://github.com/nigelhorne/ged2site">ged2site</a>.
			[% IF updated %]
				[% USE date %]
				Derni&egrave;re modification le [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
			[% END %]
			</i>
		</p>
	</body>
</html>
